@section styles{
    <link type="text/css" rel="stylesheet" href="~/assets/css/TJStyle-service.css" />
}

<div class="addContainer q" id="add_container" data-attr="h:0">
    <div class="customModuleRow customModuleRowAbsolute " id="row_96">

        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:200px;">
                <div class="ev-module-edit ev-container ev-box-container" id="evMo_eNWC7l" style="width:300px; height:124px; left:0px; top:66px; z-index:1;">
                    <div class="ev-module-edit-box " id="Mo_eNWC7l">
                        <div class="ev-container-wap">
                            <div class="ev-container-bg"></div>
                            <div id="evMo_pHop47" class="ev-module-edit" style="width:42px; height:48px; left:0px; top:43px; z-index:1;">
                                <div class="ev-module-edit-box" id="Mo_pHop47">

                                    <div class="ev-base-shape ev-base-shape-5"></div>


                                </div>
                            </div>    <div id="evMo_m71EQE" class="ev-module-edit" style="width:42px; height:48px; left:9px; top:43px; z-index:2;">
                                <div class="ev-module-edit-box" id="Mo_m71EQE">

                                    <div class="ev-base-shape ev-base-shape-5"></div>


                                </div>
                            </div>    <div id="evMo_7zd278" class="ev-module-edit" style="width:115px; height:37px; left:21px; top:39px; z-index:3;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_7zd278">
                                    <h2 class="ev-text-title-2">
                                        <span style="font-size:24px;color:#FFFFFF;">服务支持</span>
                                    </h2>
                                </div>
                            </div>    <div id="evMo_4liVFn" class="ev-module-edit" style="width:155px; height:23px; left:22px; top:72px; z-index:4;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_4liVFn">
                                    <h4 class="ev-text-title-4">
                                        <span style="font-size:16px;color:#FFFFFF;">service support</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customModuleRow customModuleRowAbsolute " id="row_34">

        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:420px;">
                <div class="ev-module-edit ev-container ev-box-container" id="evMo_DrtZA" style="width:277px; height:200px; left:0px; top:110px; z-index:1;">
                    <div class="ev-module-edit-box " id="Mo_DrtZA">
                        <div class="ev-container-wap">
                            <div class="ev-container-bg"></div>
                            <div id="evMo_ryg57" class="ev-module-edit" style="width:40px; height:40px; left:118px; top:41px; z-index:1;">
                                <div class="ev-module-edit-box " id="Mo_ryg57">

                                    <div class="ev-pic ev-pic-1 ">
                                        <img src="" class="default-img lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5566/11130281_1551670846.png?x-oss-process=image/resize,m_fixed,w_40,h_40,limit_0">

                                    </div>

                                </div>
                            </div>    <div id="evMo_UrCT4" class="ev-module-edit" style="width:40px; height:25px; left:118px; top:87px; z-index:2;">
                                <div class="ev-module-edit-box" id="Mo_UrCT4">

                                    <hr class="ev-line ev-line-1">

                                </div>
                            </div>    <div id="evMo_CqBcx" class="ev-module-edit" style="width:143px; height:29px; left:67px; top:121px; z-index:3;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_CqBcx">
                                    <h3 class="ev-text-title-3" style="text-align:center;">
                                        <span style="font-size:18px;color:#333333;">7天无理由退货</span>
                                    </h3>
                                </div>
                            </div>    <div id="evMo_tYQuB" class="ev-module-edit" style="width:219px; height:26px; left:29px; top:153px; z-index:4;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_tYQuB">
                                    <p class="ev-text-article-4" style="text-align:center;">
                                        <span style="font-size:14px;color:#888888;">买家享受7天无理由退换货服务</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    <div class="ev-module-edit ev-container ev-box-container" id="evMo_j8nV5" style="width:277px; height:200px; left:308px; top:110px; z-index:2;">
                    <div class="ev-module-edit-box " id="Mo_j8nV5">
                        <div class="ev-container-wap">
                            <div class="ev-container-bg"></div>
                            <div id="evMo_EcOy6" class="ev-module-edit" style="width:33px; height:40px; left:121px; top:41px; z-index:1;">
                                <div class="ev-module-edit-box " id="Mo_EcOy6">

                                    <div class="ev-pic ev-pic-1 ">
                                        <img src="" class="default-img lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5566/11130370_1551671048.png?x-oss-process=image/resize,m_fixed,w_33,h_40,limit_0">

                                    </div>

                                </div>
                            </div>    <div id="evMo_u9Pjo" class="ev-module-edit" style="width:40px; height:25px; left:118px; top:87px; z-index:2;">
                                <div class="ev-module-edit-box" id="Mo_u9Pjo">

                                    <hr class="ev-line ev-line-1">

                                </div>
                            </div>    <div id="evMo_6HMut" class="ev-module-edit" style="width:143px; height:29px; left:67px; top:121px; z-index:3;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_6HMut">
                                    <h3 class="ev-text-title-3" style="text-align:center;">
                                        <span style="font-size:18px;color:#333333;">上门维修</span>
                                    </h3>
                                </div>
                            </div>    <div id="evMo_4k6ry" class="ev-module-edit" style="width:219px; height:26px; left:29px; top:153px; z-index:4;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_4k6ry">
                                    <p class="ev-text-article-4" style="text-align:center;">
                                        <span style="font-size:14px;color:#888888;">买家享受7天无理由退换货服务</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    <div class="ev-module-edit ev-container ev-box-container" id="evMo_IEcOh" style="width:277px; height:200px; left:923px; top:110px; z-index:3;">
                    <div class="ev-module-edit-box " id="Mo_IEcOh">
                        <div class="ev-container-wap">
                            <div class="ev-container-bg"></div>
                            <div id="evMo_gdyl2" class="ev-module-edit" style="width:38px; height:40px; left:119px; top:41px; z-index:1;">
                                <div class="ev-module-edit-box " id="Mo_gdyl2">

                                    <div class="ev-pic ev-pic-1 ">
                                        <img src="" class="default-img lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5566/11130431_1551671185.png?x-oss-process=image/resize,m_fixed,w_38,h_40,limit_0">

                                    </div>

                                </div>
                            </div>    <div id="evMo_97pK6" class="ev-module-edit" style="width:40px; height:25px; left:118px; top:87px; z-index:2;">
                                <div class="ev-module-edit-box" id="Mo_97pK6">

                                    <hr class="ev-line ev-line-1">

                                </div>
                            </div>    <div id="evMo_18t6X" class="ev-module-edit" style="width:143px; height:29px; left:67px; top:121px; z-index:3;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_18t6X">
                                    <h3 class="ev-text-title-3" style="text-align:center;">
                                        <span style="font-size:18px;color:#333333;">售后服务</span>
                                    </h3>
                                </div>
                            </div>    <div id="evMo_PYrVO" class="ev-module-edit" style="width:219px; height:26px; left:29px; top:153px; z-index:4;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_PYrVO">
                                    <p class="ev-text-article-4" style="text-align:center;">
                                        <span style="font-size:14px;color:#888888;">买家享受7天无理由退换货服务</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    <div class="ev-module-edit ev-container ev-box-container" id="evMo_PvZT2" style="width:277px; height:200px; left:616px; top:110px; z-index:4;">
                    <div class="ev-module-edit-box " id="Mo_PvZT2">
                        <div class="ev-container-wap">
                            <div class="ev-container-bg"></div>
                            <div id="evMo_exvrv" class="ev-module-edit" style="width:40px; height:40px; left:118px; top:41px; z-index:1;">
                                <div class="ev-module-edit-box " id="Mo_exvrv">

                                    <div class="ev-pic ev-pic-1 ">
                                        <img src="" class="default-img lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5566/11130416_1551671140.png?x-oss-process=image/resize,m_fixed,w_40,h_40,limit_0">

                                    </div>

                                </div>
                            </div>    <div id="evMo_fD70I" class="ev-module-edit" style="width:40px; height:25px; left:118px; top:87px; z-index:2;">
                                <div class="ev-module-edit-box" id="Mo_fD70I">

                                    <hr class="ev-line ev-line-1">

                                </div>
                            </div>    <div id="evMo_jgss6" class="ev-module-edit" style="width:143px; height:29px; left:67px; top:121px; z-index:3;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_jgss6">
                                    <h3 class="ev-text-title-3" style="text-align:center;">
                                        <span style="font-size:18px;color:#333333;">百家门店</span>
                                    </h3>
                                </div>
                            </div>    <div id="evMo_F66tE" class="ev-module-edit" style="width:219px; height:26px; left:29px; top:153px; z-index:4;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_F66tE">
                                    <p class="ev-text-article-4" style="text-align:center;">
                                        <span style="font-size:14px;color:#888888;">买家享受7天无理由退换货服务</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customModuleRow customModuleRowAbsolute customModuleRowFullX" id="row_98">

        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:693px;">
                <div class="ev-module-edit ev-container ev-box-container" id="evMo_0dymuT" style="width:409px; height:108px; left:395px; top:89px; z-index:1;">
                    <div class="ev-module-edit-box " id="Mo_0dymuT">
                        <div class="ev-container-wap">
                            <div class="ev-container-bg"></div>
                            <div id="evMo_TPKQwP" class="ev-module-edit" style="width:165px; height:47px; left:122px; top:3px; z-index:1;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_TPKQwP">
                                    <h2 class="ev-text-title-2" style="text-align:center;">
                                        <span style="font-size:34px;">门店分布</span>
                                    </h2>
                                </div>
                            </div>    <div id="evMo_3F4Dz" class="ev-module-edit" style="width:272px; height:24px; left:68px; top:61px; z-index:2;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_3F4Dz">
                                    <h4 class="ev-text-title-4" style="text-align:center;">
                                        <span style="font-size:14px;color:#888888;">STORE DISTRIBUTION</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    <div style="width:1198px; height:386px; left:1px; top:224px; z-index:1;" class="customModule  load-animate" data-animate-name="fadeInUp" data-animate-duration="1.00s" data-animate-delay="0.10s">
                    <div style="width:1198px;  height:386px;" class="Mo cusMo_1" id="Mo_44">

                        <table class="MoT">
                            <tbody>
                                <tr>
                                    <td class="MoTL"></td>
                                    <td class="MoTM"></td>
                                    <td class="MoTR"></td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="MoHead">
                            <tbody>
                                <tr>
                                    <td class="MoHeadL"></td>
                                    <td valign="top" class="MoHeadM">
                                        <table class="MoName">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" class="MoNameL"></td>
                                                    <td valign="top" class="MoNameM">
                                                        <strong class="NameTxt">
                                                            <a href="###">
                                                                标题
                                                            </a>
                                                        </strong>
                                                    </td>
                                                    <td valign="top" class="MoNameR"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <span class="MoMore">
                                            <a href="###">更多</a>
                                        </span>
                                    </td>
                                    <td class="MoHeadR"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="MoBody">
                            <tbody>
                                <tr>
                                    <td class="MoBodyL"></td>
                                    <td valign="top" class="MoBodyM">
                                        <div style="width:1198px;  height:386px;" class="MoBodyC">
                                            <div class="pic-text-list-module pic-text-list-module-1  " data-move="0" data-axis="0" data-speed="0" data-type="0" id="prolist_3061198" data-interact="a:0,t:0">
                                                <ul class="q ">
                                                    <li>
                                                        <div class="inner">
                                                            <a class="pics ">
                                                                <span class="pic " style="width:292px; height:250px;">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <img alt="【北京02店】西二旗店" src="" class=" lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module_pic_con/800_1500/1843869/922/5c7ca0dc65a5c.jpg?x-oss-process=image/resize,m_lfit,w_292,h_250,limit_0">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </span>
                                                            </a>
                                                            <div class="pic-attr">
                                                                <h3 class="pic-title">
                                                                    <a class="">【北京02店】西二旗店</a>
                                                                </h3>

                                                                <div class="pic-intro">
                                                                    <p>
                                                                        联系电话：400-000-0000
                                                                    </p><p>地址：北京市海淀区理想大厦xxx室内xxx</p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="inner">
                                                            <a class="pics ">
                                                                <span class="pic " style="width:292px; height:250px;">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <img alt="【北京02店】西二旗店" src="" class=" lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module_pic_con/800_1500/1843869/922/5c7ca0c943023.jpg?x-oss-process=image/resize,m_lfit,w_292,h_250,limit_0">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </span>
                                                            </a>
                                                            <div class="pic-attr">
                                                                <h3 class="pic-title">
                                                                    <a class="">【北京02店】西二旗店</a>
                                                                </h3>

                                                                <div class="pic-intro">
                                                                    <p>
                                                                        联系电话：400-000-0000
                                                                    </p><p>地址：北京市海淀区理想大厦xxx室内xxx</p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="inner">
                                                            <a class="pics ">
                                                                <span class="pic " style="width:292px; height:250px;">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <img alt="【北京02店】西二旗店" src="" class=" lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module_pic_con/800_1500/1843869/922/5c7ca0b93c4d9.jpg?x-oss-process=image/resize,m_lfit,w_292,h_250,limit_0">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </span>
                                                            </a>
                                                            <div class="pic-attr">
                                                                <h3 class="pic-title">
                                                                    <a class="">【北京02店】西二旗店</a>
                                                                </h3>

                                                                <div class="pic-intro">
                                                                    <p>
                                                                        联系电话：400-000-0000
                                                                    </p><p>地址：北京市海淀区理想大厦xxx室内xxx</p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="inner">
                                                            <a class="pics ">
                                                                <span class="pic " style="width:292px; height:250px;">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <img alt="【北京02店】西二旗店" src="" class=" lazy-loading" data-original-src="//aimg8.dlszyht.net.cn/module_pic_con/800_1500/1843869/922/5c7ca0a88b00a.jpg?x-oss-process=image/resize,m_lfit,w_292,h_250,limit_0">
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </span>
                                                            </a>
                                                            <div class="pic-attr">
                                                                <h3 class="pic-title">
                                                                    <a class="">【北京02店】西二旗店</a>
                                                                </h3>

                                                                <div class="pic-intro">
                                                                    <p>
                                                                        联系电话：400-000-0000
                                                                    </p><p>地址：北京市海淀区理想大厦xxx室内xxx</p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </td>
                                    <td class="MoBodyR"></td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="MoB">
                            <tbody>
                                <tr>
                                    <td class="MoBL"></td>
                                    <td class="MoBM"></td>
                                    <td class="MoBR"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>