@using Abp.Collections.Extensions
@model Abp.Web.Mvc.Models.ErrorViewModel

<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-body">
            <blockquote class="layui-elem-quote">@Model.ErrorInfo.Message</blockquote>
            @if (!Model.ErrorInfo.ValidationErrors.IsNullOrEmpty())
            {<blockquote class="layui-elem-quote layui-quote-nm">
                    <ul>
                        @foreach (var validationError in Model.ErrorInfo.ValidationErrors)
                        {
                            <li>
                                @validationError.Message
                                @if (validationError.Members != null && validationError.Members.Any())
                                {
                                    <text>(@string.Join(", ", validationError.Members))</text>
                                }
                            </li>
                        }
                    </ul>
                </blockquote>
            }
        </div>
    </div>
</div>

