@section styles{
    <link type="text/css" rel="stylesheet" href="~/assets/css/TJStyle-solution.css" />
}

<div class="addContainer q" id="add_container" data-attr="h:0">
                    <div class="customModuleRow customModuleRowAbsolute " id="row_134">
        
        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:200px;">
                    <div class="ev-module-edit ev-container ev-box-container" id="evMo_hORq1U" style="width:300px; height:124px; left:0px; top:66px; z-index:1;">
        <div class="ev-module-edit-box " id="Mo_hORq1U">
            <div class="ev-container-wap">
                <div class="ev-container-bg"></div>
                    <div id="evMo_AO4RlF" class="ev-module-edit" style="width:42px; height:48px; left:0px; top:43px; z-index:1;">
        <div class="ev-module-edit-box" id="Mo_AO4RlF">
            
                <div class="ev-base-shape ev-base-shape-5"></div>
                
            
        </div>
    </div>    <div id="evMo_G069z" class="ev-module-edit" style="width:42px; height:48px; left:9px; top:43px; z-index:2;">
        <div class="ev-module-edit-box" id="Mo_G069z">
            
                <div class="ev-base-shape ev-base-shape-5"></div>
                
            
        </div>
    </div>    <div id="evMo_fAZiHA" class="ev-module-edit" style="width:115px; height:37px; left:21px; top:39px; z-index:3;">
        <div class="ev-module-text ev-module-edit-box" id="Mo_fAZiHA">
           <h2 class="ev-text-title-2">
    <span style="color:#FFFFFF;"><span style="font-size:24px;color:#FFFFFF;">解决方案</span></span> 
</h2>
        </div>
    </div>    <div id="evMo_IGaBTc" class="ev-module-edit" style="width:171px; height:23px; left:22px; top:72px; z-index:4;">
        <div class="ev-module-text ev-module-edit-box" id="Mo_IGaBTc">
           <h4 class="ev-text-title-4">
    <span style="font-size:16px;color:#FFFFFF;">The solution</span>
</h4>
        </div>
    </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>
                    <div class="customModuleRow " id="row_19">
                <div class="customModuleRowInner">
            <div class="CModulePC">
                                                                <div class="CModulePCLeft PCLeft" data-width="190" style="width:190px;">                                                <div data-width="180" style="width:180px; " class="customModule">
                    <div data-width="180" style="width:180px; " class="Mo cusMo_4" id="Mo_19">
                        <table class="MoT"><tbody>
                            <tr>
                                <td class="MoTL"></td>
                                <td class="MoTM"></td>
                                <td class="MoTR"></td>
                            </tr>
                        </tbody></table>
                        <table class="MoHead "><tbody>
                            <tr>
                                <td class="MoHeadL"></td>
                                <td valign="top" class="MoHeadM">
                                    <table class="MoName">
                                        <tbody>
                                            <tr>
                                                <td valign="top" class="MoNameL"></td>
                                                <td valign="top" class="MoNameM">
                                                                                                            <strong class="NameTxt"><a>解决方案</a></strong>
                                                                                                    </td>
                                                <td valign="top" class="MoNameR"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <span class="MoMore">
                                                                            </span>
                                </td>
                                <td class="MoHeadR"></td>
                            </tr>
                        </tbody></table>

                                                <table class="MoBody"><tbody>
                            <tr>
                                <td class="MoBodyL"></td>
                                <td valign="top" class="MoBodyM">
                                    <div data-width="180" style="width:180px; " class="MoBodyC">
                                            <div class="sidebarLists catalogList">
        <dl class="oneClassList">
           <dt class="oneClassT ">
    <div class="oneClassTinner">
        <a href="/zmnew318/vip_doc/19337120_3120614_0_1.html">
            <code class="open"></code>
            <span>
                公司解决方案
            </span>
        </a>
    </div>
</dt><dt class="oneClassT ">
    <div class="oneClassTinner">
        <a href="/zmnew318/vip_doc/19337120_3120613_0_1.html">
            <code class="open"></code>
            <span>
                行业解决方案
            </span>
        </a>
    </div>
</dt>
        </dl>
    </div>
                                                                             </div>
                                </td>
                                <td class="MoBodyR"></td>
                            </tr>
                        </tbody></table>
                        
                        <table class="MoB"><tbody>
                            <tr>
                                <td class="MoBL"></td>
                                <td class="MoBM"></td>
                                <td class="MoBR"></td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>
                                                                                                    </div>
                                                                                <div class="CModulePCLeft PCRight" data-width="1020" style="width:1020px;">                                <div data-width="1010" style="width:1010px; " class="customModule">
                    <div data-width="1000" style="width:1000px; " class="Mo cusMo_2" id="Mo_20">
                        <table class="MoT"><tbody>
                            <tr>
                                <td class="MoTL"></td>
                                <td class="MoTM"></td>
                                <td class="MoTR"></td>
                            </tr>
                        </tbody></table>
                        <table class="MoHead "><tbody>
                            <tr>
                                <td class="MoHeadL"></td>
                                <td valign="top" class="MoHeadM">
                                    <table class="MoName">
                                        <tbody>
                                            <tr>
                                                <td valign="top" class="MoNameL"></td>
                                                <td valign="top" class="MoNameM">
                                                                                                            <strong class="NameTxt"><a>解决方案</a></strong>
                                                                                                    </td>
                                                <td valign="top" class="MoNameR"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <span class="MoMore">
                                                                            </span>
                                </td>
                                <td class="MoHeadR"></td>
                            </tr>
                        </tbody></table>

                                                <table class="MoBody"><tbody>
                            <tr>
                                <td class="MoBodyL"></td>
                                <td valign="top" class="MoBodyM">
                                    <div data-width="940" style="width:940px; " class="MoBodyC">
                                            <div class="pic-text-list-module s-listpage-pic-text-list-1 ">
        <ul class="q">
            <li class="">
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556263.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2884/5767982_1528853146.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556263.html">居家防火安全常识</a>
            </h3>
            
            <div class="pic-intro"><p>家庭生活离不开火，安全用火能给人们生活带来温暖和幸福；用火不当则会给人们生活带来危害和灾难。因此，居民应掌握防火和用火安全常识。火灾事故预防1.养成良好的生活习惯，不能随意乱扔未熄灭的烟头和其他火种；不能在酒后、疲劳状态和临睡前躺在床上或沙发上吸烟。2.外出和临睡前应关闭电器、燃气炉具，熄灭火源。3.生火取暖和夏季点蚊香时，应注意防火。4.节庆时，应按规定安全燃放烟花爆竹，不能随意让儿童燃放烟花爆竹；也不要让儿童玩火。5.不能在草木繁茂的山林野炊，特别是在干燥的森林防火期，更不能在山林乱扔未熄灭的烟头。6.</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556259.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2885/5768241_1528853528.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556259.html">发生火灾时如何逃生_火灾逃生自救方法</a>
            </h3>
            
            <div class="pic-intro"><p>一旦火灾降临，在浓烟毒气和烈焰包围下，不少人葬身火海，也有人死里逃生。那么，遇到火灾应该如何逃生呢？有哪些火灾逃生自救方法？发生火灾逃生自救的方法　　1、如果身上的衣物，由于静电的作用或吸烟不慎，引起火灾时，应迅速将衣服脱下或撕下，或就地滚翻将火压灭，但注意不要滚动太快。一定不要身穿着火衣服跑动。如果有水可迅速用水浇灭，但人体被火烧伤时，一定不能用水浇，以防感染。　　2、如果寝室、教室、实验室、宾馆、饭店、浴池、超市等着火时，可采用以下方法逃生：　　(1)毛巾、手帕捂鼻护嘴法因火场烟气具有温度高、毒性</p></div>
            
        </div>
    </div>
</li><li class="">
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556261.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2885/5768143_1528853326.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556261.html">消防常识</a>
            </h3>
            
            <div class="pic-intro"><p>1、什么是火灾?凡在时间和空间上失去控制的燃烧所造成的灾害，都为火灾。2、火警电话119怎么打？用电话报警时，要沉着冷静，拨准“119”火警电话，接通后要首先询问是否是消防队，得到肯定回答后再报警。报警时报警人要把握三个环节：（1）说清起火单位及其街、路、门牌号。（2）说清起火部位，着火物资和火势大小，是否有人被围困。（3）要讲清报警人的姓名、所用电话的号码，以便消防队随时查询情况。报警时，要注意听消防队的询问，正确、简洁地予以回答；待对方明显说明可以挂断电话时，方可挂断电话。随后到主要路口迎接消防车辆（人</p></div>
            
        </div>
    </div>
</li><li class="">
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556260.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2885/5768200_1528853416.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556260.html">各种常见灭火器的使用方法</a>
            </h3>
            
            <div class="pic-intro"><p>灭火器是用来灭火的，学会并熟悉各种常见灭火器的使用方法，有助于我们在面对突发的火灾事故时，能够游刃有余的解决问题，以下是各种常见灭火器的使用方法，以供参考。1：提式干粉式灭火器：提取灭火器上下颠倒两次到灭火现场，拔掉保险栓，一手握住喷嘴对准火焰根部，一手按下压把即可。灭火时应一次扑弃;室外使用时应站在火源的上风口，由近及远，左右横扫，向前推进，不让火焰回窜。2：泡沫灭火器：泡沫灭火器的灭火液由硫酸铝、碳酸氢钠和甘草精组成。灭火时，将泡沫灭火器倒置，泡沫即可喷出，覆盖着火物而达到灭火目的。适用于扑灭桶</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556262.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2885/5768068_1528853235.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556262.html">火灾逃生的九大诀窍</a>
            </h3>
            
            <div class="pic-intro"><p>第一诀：不入险地，不贪财物。生命是最重要的，不要因为害羞及顾及贵重物品，而把宝贵的逃生时间浪费在穿衣或寻找、拿走贵重物品上。 第二诀：简易防护，不可缺少。家中、公司、酒家应备有防烟面罩，最简易方法也可用毛巾、口罩蒙鼻，用水浇身，匍匐前进。因为烟气较空气轻而飘于上部，贴近地面逃离是避免烟气吸入的最佳方法。 第三诀：缓降逃生，滑绳自救。千万不要盲目跳楼，可利用疏散楼梯、阳台、落水管等逃生自救。也可用身边的绳索、床单、窗帘、衣服自制简易救生绳，并用水打湿，紧拴在窗框、暖气管、铁栏杆等固定物上，用毛巾、布</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556258.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2884/5767753_1528852665.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556258.html">家里装了摄像头可能反而被监控?购买时尽量选知名品牌</a>
            </h3>
            
            <div class="pic-intro"><p>市民购买智能摄像头 多为监护老幼及防盗　　记者了解到，目前家用智能摄像头多安装在客厅、厨房或门口，绝大多数都是为了查看家里老人孩子的安全情况。特别是“狼保姆”事件后，不少市民会买来监视保姆，看其是否会虐待孩子老人。还有的市民购买智能摄像头是为了防盗或查看家里宠物的情况。　　市民孙女士说，他们夫妻都是上班族，家里只有婆婆一个人在家照顾小孩，可是老人年纪大了腿脚不大灵便，安个摄像头在家里他们就安心多了，一旦孩子或者老人有个突发情况，他们都可以第一时间发现并赶回去。此外，由于摄像头可以传输音频，夫妻俩还</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556255.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2884/5767933_1528853043.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556255.html">一些道路上方密集的监控摄像头分别是做什么用的？</a>
            </h3>
            
            <div class="pic-intro"><p>1.首先说政府投资安装部分。视频监控系统的管理每个城市都是不同的，甚至每个城市的每个区县都是不同的……一般来说，有些发达地区会搞智慧城市项目，所有政府安装的摄像头全部联网，统一服务器，由指定部门进行管理，如经信局，其他部门有使用权限。当然，这个需要整合、规划的东西很多，绝大多数城市应该都没有经济实力也没有足够的技术能力去做……普遍的情况是，政府投资的部分，谁建设谁负责。政府投资的建设单位我见过的主要分三种，一是综治部门（全称是社会治安综合治理），二是警察部门（包括警察、交警、消防警察等等），三是经</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556256.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2884/5767898_1528852939.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556256.html">双眼可以测距和建立立体环境，双摄像头可以吗？</a>
            </h3>
            
            <div class="pic-intro"><p>答案是可以！这方面一直是计算机视觉的研究热点，并且已经有了不错的成果！本人研究生阶段主要做三维重建，简单写一些自己所了解的。首先三维和二维的区别，这个大家都容易理解，二维只有x、y两个轴，比如一张素描画，我们整体的感觉是“平”的，而三维则是多了一个z轴的维度，这个z轴的直观理解就是点离我们的距离，也即 “depth(深度)”。再来看看我们人眼，人眼是一个典型的双目系统，大家可以做个小实验：闭上一只眼睛，然后左右手分别拿着一只笔，试着让笔尖相碰，哈哈，是不是有怀疑人生的感觉？ 我们分别用左右眼看同一个物体，可以</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556257.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2884/5767805_1528852811.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556257.html">如何检查是否被隐蔽的摄像机等设备监视？</a>
            </h3>
            
            <div class="pic-intro"><p>任何摄像头都需要把可见光采进来才能成像，所以首先能下手的就是镜头，所有的镜头都能很好地反射光线，而且反射出来的光线非常有特色。第一就是即使环境是白色的光，反射出来也会是多彩的（玻璃对不同色彩的光线折射率不尽相同），第二就是镜头是凸透镜，反射点要比入射光小很多。这点可以作为寻找摄像头的重要手段。具体寻找方法也非常简单，就是拿手电对着每一个看着象隐藏摄像头的小孔照，然后观察反射光。最好的练习就是手电筒对着笔记本电脑或者手机的前置摄像头照，来回晃动手电筒，如果看出这种一小点彩色反光，并且晃动手电筒时反</p></div>
            
        </div>
    </div>
</li>
        </ul>
    </div>
    <div class="page"><div class="inner"><span class="disabled">共有1页</span><span class="disabled">首页</span><span class="page-start">上一页</span><strong>1</strong><span class="page-end">下一页</span><span class="disabled">尾页</span></div></div>
                                                                             </div>
                                </td>
                                <td class="MoBodyR"></td>
                            </tr>
                        </tbody></table>
                        
                        <table class="MoB"><tbody>
                            <tr>
                                <td class="MoBL"></td>
                                <td class="MoBM"></td>
                                <td class="MoBR"></td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>
                                                                                                    </div>
                                                            </div>
        </div>
        </div>
        
    
        </div>