@section styles{
<link type="text/css" rel="stylesheet" href="~/assets/css/TJStyle-about.css" />
}
<div class="addContainer q" id="add_container" data-attr="h:0">
  <div class="customModuleRow customModuleRowAbsolute " id="row_35">

    <div class="customModuleRowInner">
      <div class="CModulePA" style="height:1263px;">
        <div id="evMo_gDWpv" class="ev-module-edit" style="width:1200px; height:956px; left:0px; top:240px; z-index:1;">
          <div class="ev-module-edit-box" id="Mo_gDWpv">

            <div class="ev-base-shape ev-base-shape-1"></div>


          </div>
        </div>
        <div id="evMo_OtCqAf" class="ev-module-edit"
          style="width:394px; height:514px; left:731px; top:316px; z-index:2;">
          <div class="ev-module-edit-box" data-animate-name="fadeInUp" data-animate-duration="1.00s"
            data-animate-delay="0.00s" id="Mo_OtCqAf" style="">

            <div class="ev-pic ev-pic-1 ">
              <img
                src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5555/11108957_1551514728.jpg?x-oss-process=image/resize,m_fixed,w_394,h_514,limit_0"
                class="default-img"
                data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5555/11108957_1551514728.jpg?x-oss-process=image/resize,m_fixed,w_394,h_514,limit_0">

            </div>

          </div>
        </div>
        <div id="evMo_7NRkm" class="ev-module-edit" style="width:166px; height:23px; left:76px; top:368px; z-index:3;">
          <div class="ev-module-text ev-module-edit-box" id="Mo_7NRkm">
            <h4 class="ev-text-title-4"><span style="font-size:16px;color:#FF9C41;">COMPANY PROFILE</span> </h4>
          </div>
        </div>
        <div id="evMo_CUX17" class="ev-module-edit" style="width:353px; height:16px; left:248px; top:370px; z-index:4;">
          <div class="ev-module-edit-box" id="Mo_CUX17">

            <hr class="ev-line ev-line-1">

          </div>
        </div>
        <div id="evMo_8CLrQ" class="ev-module-edit" style="width:303px; height:51px; left:76px; top:415px; z-index:5;">
          <div class="ev-module-text ev-module-edit-box" id="Mo_8CLrQ">
            <h2 class="ev-text-title-2"><span style="font-size:34px;">某某产品有限公司</span></h2>
          </div>
        </div>
        <div id="evMo_iRpTI" class="ev-module-edit" style="width:20px; height:20px; left:76px; top:461px; z-index:6;">
          <div class="ev-module-edit-box" id="Mo_iRpTI">

            <hr class="ev-line ev-line-1">

          </div>
        </div>
        <div id="evMo_lgop6" class="ev-module-edit" style="width:119px; height:25px; left:106px; top:462px; z-index:7;">
          <div class="ev-module-text ev-module-edit-box" id="Mo_lgop6">
            <h4 class="ev-text-title-4"><span style="font-size:16px;color:#888888;">创新品，赢天下</span></h4>
          </div>
        </div>
        <div id="evMo_M4kJrn" class="ev-module-edit"
          style="width:530px; height:100px; left:76px; top:535px; z-index:8;">
          <div class="ev-module-text ev-module-edit-box" id="Mo_M4kJrn">
            <p class="ev-text-article-4"><span
                style="font-size:14px;line-height:1.7;color:#888888;">XXXX展览服务有限公司是一家从事大型公关文化活动策划执行、大型展会主场承建、礼仪庆典策划执行、展览展示策划设计制作、装饰设计制作、整合营销传播及企业终端品牌推广的综合性企业。公司以专业化、国际化为标准，专心致力于为提升客户品牌而不懈努力。立志成为国内较专业的展览装饰服务企业！&nbsp;
                &nbsp; &nbsp; &nbsp;</span><br></p>
            <div><br></div>
            <p class="ev-text-article-4"></p>
          </div>
        </div>
        <div id="evMo_zReLK" class="ev-module-edit" style="width:530px; height:100px; left:76px; top:652px; z-index:9;">
          <div class="ev-module-text ev-module-edit-box" id="Mo_zReLK">
            <p class="ev-text-article-4"><span
                style="font-size:14px;line-height:1.7;color:#888888;">XXXX展览服务有限公司是一家从事大型公关文化活动策划执行、大型展会主场承建、礼仪庆典策划执行、展览展示策划设计制作、装饰设计制作、整合营销传播及企业终端品牌推广的综合性企业。公司以专业化、国际化为标准，专心致力于为提升客户品牌而不懈努力。立志成为国内较专业的展览装饰服务企业！&nbsp;
                &nbsp; &nbsp; &nbsp;</span><br></p>
            <div><br></div>
            <p class="ev-text-article-4"></p>
          </div>
        </div>
        <div id="evMo_2fzDD" class="ev-module-edit"
          style="width:246px; height:187px; left:76px; top:909px; z-index:10;">
          <div class="ev-module-edit-box " id="Mo_2fzDD">

            <div class="ev-pic ev-pic-1 int-onlyimg-small int-dom ">
              <img
                src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11128173_1551667031.jpg?x-oss-process=image/resize,m_fixed,w_246,h_187,limit_0"
                class="default-img"
                data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11128173_1551667031.jpg?x-oss-process=image/resize,m_fixed,w_246,h_187,limit_0">

            </div>

          </div>
        </div>
        <div id="evMo_fQxdO" class="ev-module-edit"
          style="width:246px; height:187px; left:880px; top:909px; z-index:11;">
          <div class="ev-module-edit-box " id="Mo_fQxdO">

            <div class="ev-pic ev-pic-1 int-onlyimg-small int-dom ">
              <img
                src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11128173_1551667031.jpg?x-oss-process=image/resize,m_fixed,w_246,h_187,limit_0"
                class="default-img"
                data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11128173_1551667031.jpg?x-oss-process=image/resize,m_fixed,w_246,h_187,limit_0">

            </div>

          </div>
        </div>
        <div id="evMo_dj1yT" class="ev-module-edit"
          style="width:246px; height:187px; left:345px; top:909px; z-index:12;">
          <div class="ev-module-edit-box " id="Mo_dj1yT">

            <div class="ev-pic ev-pic-1 int-onlyimg-small int-dom ">
              <img
                src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11128173_1551667031.jpg?x-oss-process=image/resize,m_fixed,w_246,h_187,limit_0"
                class="default-img"
                data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11128173_1551667031.jpg?x-oss-process=image/resize,m_fixed,w_246,h_187,limit_0">

            </div>

          </div>
        </div>
        <div id="evMo_B9qxd" class="ev-module-edit"
          style="width:246px; height:187px; left:613px; top:909px; z-index:13;">
          <div class="ev-module-edit-box " id="Mo_B9qxd">

            <div class="ev-pic ev-pic-1 int-onlyimg-small int-dom ">
              <img
                src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11128173_1551667031.jpg?x-oss-process=image/resize,m_fixed,w_246,h_187,limit_0"
                class="default-img"
                data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11128173_1551667031.jpg?x-oss-process=image/resize,m_fixed,w_246,h_187,limit_0">

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="customModuleRow customModuleRowAbsolute customModuleRowFullX" id="row_82">

    <div class="customModuleRowInner">
      <div class="CModulePA" style="height:479px;">
        <div class="ev-module-edit ev-container ev-box-container" id="evMo_fLlPM"
          style="width:409px; height:108px; left:395px; top:32px; z-index:1;">
          <div class="ev-module-edit-box " id="Mo_fLlPM">
            <div class="ev-container-wap">
              <div class="ev-container-bg"></div>
              <div id="evMo_zmfCv" class="ev-module-edit"
                style="width:165px; height:47px; left:122px; top:3px; z-index:1;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_zmfCv">
                  <h2 class="ev-text-title-2" style="text-align:center;">
                    <span style="font-size:34px;">公司环境</span>
                  </h2>
                </div>
              </div>
              <div id="evMo_CgL73" class="ev-module-edit"
                style="width:272px; height:24px; left:68px; top:61px; z-index:2;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_CgL73">
                  <h4 class="ev-text-title-4" style="text-align:center;">
                    <span style="font-size:14px;color:#888888;">CORPORATE ENVIRONMENT</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="evMo_pg13M" class="ev-module-edit" style="width:292px; height:250px; left:0px; top:167px; z-index:2;">
          <div class="ev-module-edit-box " id="Mo_pg13M">

            <div class="ev-pic ev-pic-1 ">
              <img
                src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129040_1551668230.jpg?x-oss-process=image/resize,m_fixed,w_292,h_250,limit_0"
                class="default-img"
                data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129040_1551668230.jpg?x-oss-process=image/resize,m_fixed,w_292,h_250,limit_0">

            </div>

          </div>
        </div>
        <div id="evMo_0NCwb" class="ev-module-edit"
          style="width:292px; height:250px; left:908px; top:167px; z-index:3;">
          <div class="ev-module-edit-box " id="Mo_0NCwb">

            <div class="ev-pic ev-pic-1 ">
              <img
                src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129040_1551668230.jpg?x-oss-process=image/resize,m_fixed,w_292,h_250,limit_0"
                class="default-img"
                data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129040_1551668230.jpg?x-oss-process=image/resize,m_fixed,w_292,h_250,limit_0">

            </div>

          </div>
        </div>
        <div id="evMo_HWrSk" class="ev-module-edit"
          style="width:292px; height:250px; left:303px; top:167px; z-index:4;">
          <div class="ev-module-edit-box" data-animate-name="fadeInUp" data-animate-duration="1.00s"
            data-animate-delay="0.00s" id="Mo_HWrSk" style="">

            <div class="ev-pic ev-pic-1 ">
              <img
                src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129040_1551668230.jpg?x-oss-process=image/resize,m_fixed,w_292,h_250,limit_0"
                class="default-img"
                data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129040_1551668230.jpg?x-oss-process=image/resize,m_fixed,w_292,h_250,limit_0">

            </div>

          </div>
        </div>
        <div id="evMo_s668u" class="ev-module-edit"
          style="width:292px; height:250px; left:605px; top:167px; z-index:5;">
          <div class="ev-module-edit-box" data-animate-name="fadeInUp" data-animate-duration="1.00s"
            data-animate-delay="0.00s" id="Mo_s668u" style="">

            <div class="ev-pic ev-pic-1 ">
              <img
                src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129040_1551668230.jpg?x-oss-process=image/resize,m_fixed,w_292,h_250,limit_0"
                class="default-img"
                data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129040_1551668230.jpg?x-oss-process=image/resize,m_fixed,w_292,h_250,limit_0">

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="customModuleRow customModuleRowAbsolute customModuleRowFullX" id="row_83">

    <div class="customModuleRowInner">
      <div class="CModulePA" style="height:1275px;">
        <div class="ev-module-edit ev-container ev-box-container" id="evMo_Z8Nq0"
          style="width:409px; height:108px; left:395px; top:40px; z-index:1;">
          <div class="ev-module-edit-box " id="Mo_Z8Nq0">
            <div class="ev-container-wap">
              <div class="ev-container-bg"></div>
              <div id="evMo_9b5La" class="ev-module-edit"
                style="width:165px; height:47px; left:122px; top:3px; z-index:1;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_9b5La">
                  <h2 class="ev-text-title-2" style="text-align:center;">
                    <span style="font-size:34px;">发展历程</span>
                  </h2>
                </div>
              </div>
              <div id="evMo_rNoi7" class="ev-module-edit"
                style="width:272px; height:24px; left:68px; top:61px; z-index:2;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_rNoi7">
                  <h4 class="ev-text-title-4" style="text-align:center;">
                    <span style="font-size:14px;color:#888888;">DEVELOPMENT HISTORY</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ev-module-edit ev-container ev-box-container" id="evMo_fjFTn"
          style="width:500px; height:130px; left:686px; top:187px; z-index:5;">
          <div class="ev-module-edit-box" data-animate-name="fadeInUp" data-animate-duration="1.00s"
            data-animate-delay="0.00s" id="Mo_fjFTn" style="">
            <div class="ev-container-wap">
              <div class="ev-container-bg"></div>
              <div id="evMo_lipLm" class="ev-module-edit"
                style="width:98px; height:26px; left:40px; top:24px; z-index:1;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_lipLm">
                  <h4 class="ev-text-title-4">
                    <span style="font-size:18px;color:#FF9C41;">2010年</span>
                  </h4>
                </div>
              </div>
              <div id="evMo_FBl4Z" class="ev-module-edit"
                style="width:414px; height:58px; left:40px; top:56px; z-index:2;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_FBl4Z">
                  <p class="ev-text-article-4">
                    <span
                      style="font-size:14px;line-height:1.8;color:#888888;">2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ev-module-edit ev-container ev-box-container" id="evMo_dfKyH"
          style="width:500px; height:130px; left:14px; top:341px; z-index:8;">
          <div class="ev-module-edit-box" data-animate-name="fadeInUp" data-animate-duration="1.00s"
            data-animate-delay="0.00s" id="Mo_dfKyH" style="">
            <div class="ev-container-wap">
              <div class="ev-container-bg"></div>
              <div id="evMo_Mc5PK" class="ev-module-edit"
                style="width:98px; height:26px; left:40px; top:24px; z-index:1;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_Mc5PK">
                  <h4 class="ev-text-title-4">
                    <span style="font-size:18px;color:#FF9C41;">2010年</span>
                  </h4>
                </div>
              </div>
              <div id="evMo_wTzk9" class="ev-module-edit"
                style="width:414px; height:58px; left:40px; top:56px; z-index:2;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_wTzk9">
                  <p class="ev-text-article-4">
                    <span
                      style="font-size:14px;line-height:1.8;color:#888888;">2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ev-module-edit ev-container ev-box-container" id="evMo_IXylk"
          style="width:500px; height:130px; left:686px; top:497px; z-index:11;">
          <div class="ev-module-edit-box" data-animate-name="fadeInUp" data-animate-duration="1.00s"
            data-animate-delay="0.00s" id="Mo_IXylk" style="">
            <div class="ev-container-wap">
              <div class="ev-container-bg"></div>
              <div id="evMo_6gzPQ" class="ev-module-edit"
                style="width:98px; height:26px; left:40px; top:24px; z-index:1;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_6gzPQ">
                  <h4 class="ev-text-title-4">
                    <span style="font-size:18px;color:#FF9C41;">2010年</span>
                  </h4>
                </div>
              </div>
              <div id="evMo_XUpzX" class="ev-module-edit"
                style="width:414px; height:58px; left:40px; top:56px; z-index:2;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_XUpzX">
                  <p class="ev-text-article-4">
                    <span
                      style="font-size:14px;line-height:1.8;color:#888888;">2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ev-module-edit ev-container ev-box-container" id="evMo_W0szP"
          style="width:500px; height:130px; left:14px; top:652px; z-index:14;">
          <div class="ev-module-edit-box" data-animate-name="fadeInUp" data-animate-duration="1.00s"
            data-animate-delay="0.00s" id="Mo_W0szP" style="">
            <div class="ev-container-wap">
              <div class="ev-container-bg"></div>
              <div id="evMo_pVENZ" class="ev-module-edit"
                style="width:98px; height:26px; left:40px; top:24px; z-index:1;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_pVENZ">
                  <h4 class="ev-text-title-4">
                    <span style="font-size:18px;color:#FF9C41;">2010年</span>
                  </h4>
                </div>
              </div>
              <div id="evMo_uoKEd" class="ev-module-edit"
                style="width:414px; height:58px; left:40px; top:56px; z-index:2;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_uoKEd">
                  <p class="ev-text-article-4">
                    <span
                      style="font-size:14px;line-height:1.8;color:#888888;">2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ev-module-edit ev-container ev-box-container" id="evMo_3wrKP"
          style="width:500px; height:130px; left:686px; top:807px; z-index:17;">
          <div class="ev-module-edit-box" data-animate-name="fadeInUp" data-animate-duration="1.00s"
            data-animate-delay="0.00s" id="Mo_3wrKP" style="">
            <div class="ev-container-wap">
              <div class="ev-container-bg"></div>
              <div id="evMo_Vbepr" class="ev-module-edit"
                style="width:98px; height:26px; left:40px; top:24px; z-index:1;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_Vbepr">
                  <h4 class="ev-text-title-4">
                    <span style="font-size:18px;color:#FF9C41;">2010年</span>
                  </h4>
                </div>
              </div>
              <div id="evMo_lkVvy" class="ev-module-edit"
                style="width:414px; height:58px; left:40px; top:56px; z-index:2;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_lkVvy">
                  <p class="ev-text-article-4">
                    <span
                      style="font-size:14px;line-height:1.8;color:#888888;">2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ev-module-edit ev-container ev-box-container" id="evMo_uYvr3"
          style="width:500px; height:130px; left:14px; top:961px; z-index:20;">
          <div class="ev-module-edit-box" data-animate-name="fadeInUp" data-animate-duration="1.00s"
            data-animate-delay="0.00s" id="Mo_uYvr3" style="">
            <div class="ev-container-wap">
              <div class="ev-container-bg"></div>
              <div id="evMo_r5aOz" class="ev-module-edit"
                style="width:98px; height:26px; left:40px; top:24px; z-index:1;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_r5aOz">
                  <h4 class="ev-text-title-4">
                    <span style="font-size:18px;color:#FF9C41;">2010年</span>
                  </h4>
                </div>
              </div>
              <div id="evMo_wGjLJ" class="ev-module-edit"
                style="width:414px; height:58px; left:40px; top:56px; z-index:2;">
                <div class="ev-module-text ev-module-edit-box" id="Mo_wGjLJ">
                  <p class="ev-text-article-4">
                    <span
                      style="font-size:14px;line-height:1.8;color:#888888;">2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号2009年1月2日公司成立于北京市海淀区某某大厦xx室1234号</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="evMo_UhjZA" class="ev-module-edit" style="width:10px; height:910px; left:596px; top:175px; z-index:2;">
          <div class="ev-module-edit-box" id="Mo_UhjZA">

            <hr class="ev-line ev-line-4">

          </div>
        </div>
        <div id="evMo_K5MxY" class="ev-module-edit" style="width:10px; height:10px; left:595px; top:213px; z-index:3;">
          <div class="ev-module-edit-box" id="Mo_K5MxY">

            <div class="ev-base-shape ev-base-shape-3"></div>


          </div>
        </div>
        <div id="evMo_PDtrF" class="ev-module-edit" style="width:60px; height:22px; left:611px; top:207px; z-index:4;">
          <div class="ev-module-edit-box" id="Mo_PDtrF">

            <hr class="ev-line ev-line-1">

          </div>
        </div>
        <div id="evMo_aVWjc" class="ev-module-edit" style="width:10px; height:10px; left:595px; top:367px; z-index:6;">
          <div class="ev-module-edit-box" id="Mo_aVWjc">

            <div class="ev-base-shape ev-base-shape-3"></div>


          </div>
        </div>
        <div id="evMo_LFCNF" class="ev-module-edit" style="width:60px; height:22px; left:530px; top:361px; z-index:7;">
          <div class="ev-module-edit-box" id="Mo_LFCNF">

            <hr class="ev-line ev-line-1">

          </div>
        </div>
        <div id="evMo_oWvq3" class="ev-module-edit" style="width:10px; height:10px; left:595px; top:522px; z-index:9;">
          <div class="ev-module-edit-box" id="Mo_oWvq3">

            <div class="ev-base-shape ev-base-shape-3"></div>


          </div>
        </div>
        <div id="evMo_BobQ7" class="ev-module-edit" style="width:60px; height:22px; left:611px; top:517px; z-index:10;">
          <div class="ev-module-edit-box" id="Mo_BobQ7">

            <hr class="ev-line ev-line-1">

          </div>
        </div>
        <div id="evMo_uiBJH" class="ev-module-edit" style="width:10px; height:10px; left:595px; top:677px; z-index:12;">
          <div class="ev-module-edit-box" id="Mo_uiBJH">

            <div class="ev-base-shape ev-base-shape-3"></div>


          </div>
        </div>
        <div id="evMo_qZPRg" class="ev-module-edit" style="width:60px; height:22px; left:530px; top:672px; z-index:13;">
          <div class="ev-module-edit-box" id="Mo_qZPRg">

            <hr class="ev-line ev-line-1">

          </div>
        </div>
        <div id="evMo_FmVQY" class="ev-module-edit" style="width:10px; height:10px; left:595px; top:832px; z-index:15;">
          <div class="ev-module-edit-box" id="Mo_FmVQY">

            <div class="ev-base-shape ev-base-shape-3"></div>


          </div>
        </div>
        <div id="evMo_XdbrL" class="ev-module-edit" style="width:60px; height:22px; left:611px; top:827px; z-index:16;">
          <div class="ev-module-edit-box" id="Mo_XdbrL">

            <hr class="ev-line ev-line-1">

          </div>
        </div>
        <div id="evMo_WFNZJ" class="ev-module-edit" style="width:10px; height:10px; left:595px; top:986px; z-index:18;">
          <div class="ev-module-edit-box" id="Mo_WFNZJ">

            <div class="ev-base-shape ev-base-shape-3"></div>


          </div>
        </div>
        <div id="evMo_K2nrA" class="ev-module-edit" style="width:60px; height:22px; left:530px; top:981px; z-index:19;">
          <div class="ev-module-edit-box" id="Mo_K2nrA">

            <hr class="ev-line ev-line-1">

          </div>
        </div>
        <div id="evMo_TFRxV" class="ev-module-edit"
          style="width:244px; height:35px; left:478px; top:1134px; z-index:21;">
          <div class="ev-module-text ev-module-edit-box" id="Mo_TFRxV">
            <h4 class="ev-text-title-4" style="text-align:center;">
              <span style="font-size:14px;color:#888888;">创新的解决方案来提升您的创意项目</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>