
@section styles{
    <link type="text/css" rel="stylesheet" href="~/assets/css/TJStyle-contact.css" />
}
<div class="addContainer q" id="add_container" data-attr="h:0">
    <div class="customModuleRow customModuleRowAbsolute " id="row_36">

        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:200px;">
                <div class="ev-module-edit ev-container ev-box-container" id="evMo_hu3nl" style="width:300px; height:124px; left:0px; top:66px; z-index:1;">
                    <div class="ev-module-edit-box " id="Mo_hu3nl">
                        <div class="ev-container-wap">
                            <div class="ev-container-bg"></div>
                            <div id="evMo_UMKPZ" class="ev-module-edit" style="width:42px; height:48px; left:0px; top:43px; z-index:1;">
                                <div class="ev-module-edit-box" id="Mo_UMKPZ">

                                    <div class="ev-base-shape ev-base-shape-5"></div>


                                </div>
                            </div>    <div id="evMo_5qMzm" class="ev-module-edit" style="width:42px; height:48px; left:9px; top:43px; z-index:2;">
                                <div class="ev-module-edit-box" id="Mo_5qMzm">

                                    <div class="ev-base-shape ev-base-shape-5"></div>


                                </div>
                            </div>    <div id="evMo_l5nwC" class="ev-module-edit" style="width:115px; height:37px; left:21px; top:39px; z-index:3;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_l5nwC">
                                    <h2 class="ev-text-title-2">
                                        <span style="font-size:24px;color:#FFFFFF;">联系我们</span>
                                    </h2>
                                </div>
                            </div>    <div id="evMo_JpqQ9" class="ev-module-edit" style="width:99px; height:23px; left:22px; top:72px; z-index:4;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_JpqQ9">
                                    <h4 class="ev-text-title-4">
                                        <span style="font-size:16px;color:#FFFFFF;">contact us</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customModuleRow customModuleRowAbsolute customModuleRowFullX" id="row_89">

        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:408px;">
                <div style="width:1200px; height:300px; left:0px; top:60px; z-index:1;" class="customModule ">
                    <div style="width:1200px;  height:300px;" class="Mo cusMo_1" id="Mo_40">

                        <table class="MoT">
                            <tbody>
                                <tr>
                                    <td class="MoTL"></td>
                                    <td class="MoTM"></td>
                                    <td class="MoTR"></td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="MoHead">
                            <tbody>
                                <tr>
                                    <td class="MoHeadL"></td>
                                    <td valign="top" class="MoHeadM">
                                        <table class="MoName">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" class="MoNameL"></td>
                                                    <td valign="top" class="MoNameM">
                                                        <strong class="NameTxt">
                                                            <a href="###">
                                                                标题
                                                            </a>
                                                        </strong>
                                                    </td>
                                                    <td valign="top" class="MoNameR"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <span class="MoMore">
                                            <a href="###">更多</a>
                                        </span>
                                    </td>
                                    <td class="MoHeadR"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="MoBody">
                            <tbody>
                                <tr>
                                    <td class="MoBodyL"></td>
                                    <td valign="top" class="MoBodyM">
                                        <div style="width:1200px;  height:300px;" class="MoBodyC">
                                            <div id="container_40" style="width: 1200px; height: 300px; overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;"><div style="overflow: visible; position: absolute; z-index: 0; left: 0px; top: 0px; cursor: url(&quot;https://api.map.baidu.com/images/openhand.cur&quot;) 8 8, default;"><div class="BMap_mask" style="position: absolute; left: 0px; top: 0px; z-index: 9; overflow: hidden; user-select: none; width: 1200px; height: 300px;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 800;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 700;"><span class="BMap_Marker BMap_noprint" unselectable="on" "=" " style="position: absolute; padding: 0px; margin: 0px; border: 0px; cursor: pointer; background: url(&quot;https://api.map.baidu.com/images/blank.gif&quot;); width: 19px; height: 25px; left: 590px; top: 125px; z-index: -7983000;" title=""></span></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 600;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 500;"><label class="BMapLabel" unselectable="on" style="position: absolute; display: none; cursor: inherit; background-color: rgb(190, 190, 190); border: 1px solid rgb(190, 190, 190); padding: 1px; white-space: nowrap; font: 12px arial, sans-serif; z-index: -20000; color: rgb(190, 190, 190);">shadow</label></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 400;"><span class="BMap_Marker" unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 0px; height: 0px; left: 590px; top: 125px; z-index: -7983000;"><div style="position: absolute; margin: 0px; padding: 0px; width: 19px; height: 25px; overflow: hidden;"><img src="https://api.map.baidu.com/images/marker_red_sprite.png" style="display: block; border:none;margin-left:0px; margin-top:0px; "></div></span></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 300;"><span unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 20px; height: 11px; left: 594px; top: 139px;"><div style="position: absolute; margin: 0px; padding: 0px; width: 20px; height: 11px; overflow: hidden;"><img src="https://api.map.baidu.com/images/marker_red_sprite.png" style="display: block; border:none;margin-left:-19px; margin-top:-13px; "></div></span></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 201;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 1;"><div style="position: absolute; overflow: visible; z-index: -100; left: 600px; top: 150px; display: block; transform: translate3d(0px, 0px, 0px);"><img src="https://gss0.bdstatic.com/8bo_dTSlRsgBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6327&amp;y=2356&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: -59px; top: -151px; max-width: none; opacity: 1;"><img src="https://gss0.bdstatic.com/8bo_dTSlRcgBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6327&amp;y=2355&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: -59px; top: 105px; max-width: none; opacity: 1;"><img src="https://gss0.bdstatic.com/8bo_dTSlRcgBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6326&amp;y=2356&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: -315px; top: -151px; max-width: none; opacity: 1;"><img src="https://gss0.bdstatic.com/8bo_dTSlRMgBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6325&amp;y=2356&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: -571px; top: -151px; max-width: none; opacity: 1;"><img src="https://gss0.bdstatic.com/8bo_dTSlQ1gBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6328&amp;y=2356&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: 197px; top: -151px; max-width: none; opacity: 1;"><img src="https://gss0.bdstatic.com/8bo_dTSlR1gBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6329&amp;y=2356&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: 453px; top: -151px; max-width: none; opacity: 1;"><img src="https://gss0.bdstatic.com/8bo_dTSlRMgBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6326&amp;y=2355&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: -315px; top: 105px; max-width: none; opacity: 1;"><img src="https://gss0.bdstatic.com/8bo_dTSlRsgBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6328&amp;y=2355&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: 197px; top: 105px; max-width: none; opacity: 1;"><img src="https://gss0.bdstatic.com/8bo_dTSlR1gBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6324&amp;y=2356&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: -827px; top: -151px; max-width: none; opacity: 1;"><img src="https://gss0.bdstatic.com/8bo_dTSlR1gBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6325&amp;y=2355&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: -571px; top: 105px; max-width: none; opacity: 1;"><img src="https://gss0.bdstatic.com/8bo_dTSlQ1gBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6329&amp;y=2355&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: 453px; top: 105px; max-width: none; opacity: 1;"><img src="https://gss0.bdstatic.com/8bo_dTSlQ1gBo1vgoIiO_jowehsv/tile/?qt=vtile&amp;x=6324&amp;y=2355&amp;z=15&amp;styles=pl&amp;scaler=2&amp;udt=20190524" style="position: absolute; border: none; width: 256px; height: 256px; left: -827px; top: 105px; max-width: none; opacity: 1;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 2; display: none;"><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 0; display: none;"></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 10; display: none;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 3;"></div></div><div class="pano_close" title="退出全景" style="z-index: 1201; display: none;"></div><a class="pano_pc_indoor_exit" title="退出室内景" style="z-index: 1201; display: none;"><span style="float:right;margin-right:12px;">出口</span></a><div class=" anchorBL" style="height: 32px; position: absolute; z-index: 30; text-size-adjust: none; bottom: 20px; right: auto; top: auto; left: 1px;"><a title="到百度地图查看此区域" target="_blank" href="http://map.baidu.com/?sr=1" style="outline: none;"><img style="border:none;width:77px;height:32px" src="https://api.map.baidu.com/images/copyright_logo.png"></a></div><div id="zoomer" style="position:absolute;z-index:0;top:0px;left:0px;overflow:hidden;visibility:hidden;cursor:url(https://api.map.baidu.com/images/openhand.cur) 8 8,default"><div class="BMap_zoomer" style="top:0;left:0;"></div><div class="BMap_zoomer" style="top:0;right:0;"></div><div class="BMap_zoomer" style="bottom:0;left:0;"></div><div class="BMap_zoomer" style="bottom:0;right:0;"></div></div><div unselectable="on" class=" BMap_stdMpCtrl BMap_stdMpType3 BMap_noprint anchorTL" style="width: 22px; height: 42px; bottom: auto; right: auto; top: 10px; left: 10px; position: absolute; z-index: 1100; text-size-adjust: none;"><div class="BMap_stdMpPan"><div class="BMap_button BMap_panN" title="向上平移"></div><div class="BMap_button BMap_panW" title="向左平移"></div><div class="BMap_button BMap_panE" title="向右平移"></div><div class="BMap_button BMap_panS" title="向下平移"></div><div class="BMap_stdMpPanBg BMap_smcbg"></div></div><div class="BMap_stdMpZoom" style="height: 42px; width: 22px;"><div class="BMap_button BMap_stdMpZoomIn" title="放大一级" style="left: 0px;"><div class="BMap_smcbg"></div></div><div class="BMap_button BMap_stdMpZoomOut" title="缩小一级" style="top: 21px; left: 0px;"><div class="BMap_smcbg"></div></div><div class="BMap_stdMpSlider" style="height: 0px;"><div class="BMap_stdMpSliderBgTop" style="height: 0px;"><div class="BMap_smcbg"></div></div><div class="BMap_stdMpSliderBgBot"></div><div class="BMap_stdMpSliderMask" title="放置到此级别"></div><div class="BMap_stdMpSliderBar" title="拖动缩放" style="cursor: url(&quot;https://api.map.baidu.com/images/openhand.cur&quot;) 8 8, default;"><div class="BMap_smcbg"></div></div></div><div class="BMap_zlHolder"><div class="BMap_zlSt"><div class="BMap_smcbg"></div></div><div class="BMap_zlCity"><div class="BMap_smcbg"></div></div><div class="BMap_zlProv"><div class="BMap_smcbg"></div></div><div class="BMap_zlCountry"><div class="BMap_smcbg"></div></div></div></div><div class="BMap_stdMpGeolocation" style="position: initial; display: none; margin-top: 43px; margin-left: 10px;"><div class="BMap_geolocationContainer" style="position: initial; width: 24px; height: 24px; overflow: hidden; margin: 0px; box-sizing: border-box;"><div class="BMap_geolocationIconBackground" style="width: 24px; height: 24px; background-image: url(https://api.map.baidu.com/images/navigation-control/geolocation-control/pc/bg-20x20.png); background-size: 20px 20px; background-position: 3px 3px; background-repeat: no-repeat;"><div class="BMap_geolocationIcon" style="position: initial; width: 24px; height: 24px; cursor: pointer; background-image: url('https://api.map.baidu.com/images/navigation-control/geolocation-control/pc/success-10x10.png'); background-size: 10px 10px; background-repeat: no-repeat; background-position: center;"></div></div></div></div></div><div unselectable="on" class=" BMap_cpyCtrl BMap_noprint anchorBL" style="cursor: default; white-space: nowrap; color: black; background: none; font: 11px/15px arial, sans-serif; bottom: 2px; right: auto; top: auto; left: 2px; position: absolute; z-index: 10; text-size-adjust: none;"><span _cid="1" style="display: inline;"><span style="background: rgba(255, 255, 255, 0.701961);padding: 0px 1px;line-height: 16px;display: inline;height: 16px;">©&nbsp;2019 Baidu - GS(2018)5572号 - 甲测资字1100930 - 京ICP证030173号 - Data © 长地万方</span></span></div></div>
                                        </div>
                                    </td>
                                    <td class="MoBodyR"></td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="MoB">
                            <tbody>
                                <tr>
                                    <td class="MoBL"></td>
                                    <td class="MoBM"></td>
                                    <td class="MoBR"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="customModuleRow customModuleRowAbsolute customModuleRowFullX" id="row_90">

        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:558px;">
                <div class="ev-module-edit ev-container ev-box-container" id="evMo_MNHKv" style="width:315px; height:108px; left:0px; top:27px; z-index:1;">
                    <div class="ev-module-edit-box " id="Mo_MNHKv">
                        <div class="ev-container-wap">
                            <div class="ev-container-bg"></div>
                            <div id="evMo_44hEL" class="ev-module-edit" style="width:151px; height:28px; left:0px; top:29px; z-index:1;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_44hEL">
                                    <h4 class="ev-text-title-4">
                                        <span style="font-size:18px;color:#333333;"><strong>我们的联系方式</strong></span>
                                    </h4>
                                </div>
                            </div>    <div id="evMo_7XI6i" class="ev-module-edit" style="width:242px; height:25px; left:0px; top:57px; z-index:2;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_7XI6i">
                                    <h4 class="ev-text-title-4">
                                        <span style="font-size:16px;color:#999999;">WELCOME TO CONTACT US</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    <div class="ev-module-edit ev-container ev-box-container" id="evMo_qTG1d" style="width:315px; height:108px; left:530px; top:27px; z-index:12;">
                    <div class="ev-module-edit-box " id="Mo_qTG1d">
                        <div class="ev-container-wap">
                            <div class="ev-container-bg"></div>
                            <div id="evMo_FXj6f" class="ev-module-edit" style="width:151px; height:28px; left:0px; top:29px; z-index:1;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_FXj6f">
                                    <h4 class="ev-text-title-4">
                                        <span style="font-size:18px;color:#333333;"><strong>给我们留言</strong></span>
                                    </h4>
                                </div>
                            </div>    <div id="evMo_72DXK" class="ev-module-edit" style="width:242px; height:25px; left:0px; top:57px; z-index:2;">
                                <div class="ev-module-text ev-module-edit-box" id="Mo_72DXK">
                                    <h4 class="ev-text-title-4">
                                        <span style="font-size:16px;color:#999999;">LEAVE US MESSAGE</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    <div style="width:670px; height:335px; left:530px; top:140px; z-index:11;" class="customModule ">
                    <div style="width:670px;  height:335px;" class="Mo cusMo_1" id="Mo_42">

                        <table class="MoT">
                            <tbody>
                                <tr>
                                    <td class="MoTL"></td>
                                    <td class="MoTM"></td>
                                    <td class="MoTR"></td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="MoHead">
                            <tbody>
                                <tr>
                                    <td class="MoHeadL"></td>
                                    <td valign="top" class="MoHeadM">
                                        <table class="MoName">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" class="MoNameL"></td>
                                                    <td valign="top" class="MoNameM">
                                                        <strong class="NameTxt">
                                                            <a href="###">
                                                                在线表单提交
                                                            </a>
                                                        </strong>
                                                    </td>
                                                    <td valign="top" class="MoNameR"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <span class="MoMore">
                                            <a href="###">更多</a>
                                        </span>
                                    </td>
                                    <td class="MoHeadR"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="MoBody">
                            <tbody>
                                <tr>
                                    <td class="MoBodyL"></td>
                                    <td valign="top" class="MoBodyM">
                                        <div style="width:670px;  height:335px;" class="MoBodyC">
                                            <div class="form-module">
                                                <dl>


                                                    <form id="formField_3060656" name="formField_3060656" action="/dom/form_update.php?module_id=1552053" method="post" class="q">
                                                        <dd style="width:50%;" class="item-list">
                                                            <div class="item-name">姓名：</div><div class="item-con">
                                                                <span class="form-text">
                                                                    <input type="text" data-prompt-position="bottomLeft" placeholder="姓名" data-defaultval="姓名" name="field_2592138" id="field_2592138" value="" class="validate[] FC_TxtInput">
                                                                </span>

                                                            </div>
                                                        </dd><dd style="width:50%;" class="item-list">
                                                            <div class="item-name">手机：</div><div class="item-con">
                                                                <span class="form-text">
                                                                    <input type="text" data-prompt-position="bottomLeft" placeholder="手机" data-defaultval="手机" name="field_2592139" id="field_2592139" value="" class="validate[custom[uMobilePhone]] FC_TxtInput">
                                                                </span>

                                                            </div>
                                                        </dd><dd class="item-list">
                                                            <div class="item-name">留言内容：</div><div class="item-con">
                                                                <span class="form-textarea">
                                                                    <textarea data-prompt-position="bottomLeft" placeholder="留言内容" data-defaultval="留言内容" name="field_2592140" id="field_2592140" class="validate[] FC_TxtArea"></textarea>
                                                                </span>

                                                            </div>

                                                            <input type="hidden" name="module_id" value="1552053">
                                                            <input type="hidden" name="indexStr" value="">
                                                            <input type="hidden" name="username" value="zmnew318">
                                                            <input type="hidden" name="isSubmit" id="isSubmit3060656" value="">
                                                            <input type="hidden" name="zz_userid" value="0">
                                                            <input type="hidden" name="return_url" value="/zmnew318/bk_19337126.html">
                                                        </dd><dd class="item-list form-button" id="sublimt-p-1552053">
                                                            <input type="button" onclick="submitdefineForm_1552053()" value="提交" class="user-login-but form-but">
                                                        </dd>
                                                    </form>
                                                </dl>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="MoBodyR"></td>
                                </tr>
                            </tbody>
                        </table>

                        <table class="MoB">
                            <tbody>
                                <tr>
                                    <td class="MoBL"></td>
                                    <td class="MoBM"></td>
                                    <td class="MoBR"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>    <div id="evMo_ihp1v" class="ev-module-edit" style="width:40px; height:40px; left:0px; top:141px; z-index:2;">
                    <div class="ev-module-edit-box " id="Mo_ihp1v">

                        <div class="ev-pic ev-pic-1 ">
                            <img src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129772_1551669750.jpg?x-oss-process=image/resize,m_fixed,w_40,h_40,limit_0" class="default-img" data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129772_1551669750.jpg?x-oss-process=image/resize,m_fixed,w_40,h_40,limit_0">

                        </div>

                    </div>
                </div>    <div id="evMo_GNcHf" class="ev-module-edit" style="width:77px; height:24px; left:55px; top:140px; z-index:3;">
                    <div class="ev-module-text ev-module-edit-box" id="Mo_GNcHf">
                        <h4 class="ev-text-title-4">
                            <span style="font-size:16px;color:#333333;">客服热线</span>
                        </h4>
                    </div>
                </div>    <div id="evMo_lBniG" class="ev-module-edit" style="width:107px; height:21px; left:55px; top:167px; z-index:4;">
                    <div class="ev-module-text ev-module-edit-box" id="Mo_lBniG">
                        <p class="ev-text-article-4">
                            <span style="font-size:14px;color:#888888;">400-0000-000</span>
                        </p>
                    </div>
                </div>    <div id="evMo_ZLizZ" class="ev-module-edit" style="width:40px; height:40px; left:0px; top:211px; z-index:5;">
                    <div class="ev-module-edit-box " id="Mo_ZLizZ">

                        <div class="ev-pic ev-pic-1 ">
                            <img src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129859_1551669899.jpg?x-oss-process=image/resize,m_fixed,w_40,h_40,limit_0" class="default-img" data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129859_1551669899.jpg?x-oss-process=image/resize,m_fixed,w_40,h_40,limit_0">

                        </div>

                    </div>
                </div>    <div id="evMo_ajTZD" class="ev-module-edit" style="width:77px; height:24px; left:55px; top:209px; z-index:6;">
                    <div class="ev-module-text ev-module-edit-box" id="Mo_ajTZD">
                        <h4 class="ev-text-title-4">
                            <span style="color:#333333;"><span style="font-size:16px;color:#333333;">公司地址</span></span>
                        </h4>
                    </div>
                </div>    <div id="evMo_OahNL" class="ev-module-edit" style="width:320px; height:21px; left:55px; top:235px; z-index:7;">
                    <div class="ev-module-text ev-module-edit-box" id="Mo_OahNL">
                        <p class="ev-text-article-4">
                            <span style="font-size:14px;color:#888888;">北京市海淀区西直门北大街××××大楼××号</span>
                        </p>
                    </div>
                </div>    <div id="evMo_Yww7H" class="ev-module-edit" style="width:40px; height:40px; left:0px; top:282px; z-index:8;">
                    <div class="ev-module-edit-box " id="Mo_Yww7H">

                        <div class="ev-pic ev-pic-1 ">
                            <img src="http://aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129859_1551669899.jpg?x-oss-process=image/resize,m_fixed,w_40,h_40,limit_0" class="default-img" data-original-src="//aimg8.dlszyht.net.cn/module/simplepicbackground/1843869/5565/11129859_1551669899.jpg?x-oss-process=image/resize,m_fixed,w_40,h_40,limit_0">

                        </div>

                    </div>
                </div>    <div id="evMo_7ECpU" class="ev-module-edit" style="width:77px; height:24px; left:56px; top:279px; z-index:9;">
                    <div class="ev-module-text ev-module-edit-box" id="Mo_7ECpU">
                        <h4 class="ev-text-title-4">
                            <span style="color:#333333;"><span style="font-size:16px;color:#333333;">公司邮箱</span></span>
                        </h4>
                    </div>
                </div>    <div id="evMo_Otegc" class="ev-module-edit" style="width:148px; height:21px; left:56px; top:304px; z-index:10;">
                    <div class="ev-module-text ev-module-edit-box" id="Mo_Otegc">
                        <p class="ev-text-article-4">
                            <span style="font-size:14px;color:#888888;">123456@abc.com</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>