@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="dqwz"><a href="/">首页</a> &gt; <a href="/xclist/5.html">河南两日游</a> &gt; 云台山两日游</div>
<div class="content_cont">
    <div class="cont_left float_le">
        <div class="cont_le_1">
            <div class="cont_le_1_1">
                <h3>一周热销</h3>
                <ul>
                    <li class="cont_le1_li1">
                        <a href="/xc/581.html" target="_blank"><img src="/upload/201809/t_5b961df6e6b33.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/xc/581.html" target="_blank">云南双飞6日游</a></p>
                        <p class="cont_le1_pri"><b class="orange">￥2180</b>人/次</p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/xc/558.html" target="_blank"><img src="/upload/201811/t_5be15bb52eea8.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/xc/558.html" target="_blank">三亚快乐无忧双飞5日游</a></p>
                        <p class="cont_le1_pri"><b class="orange">￥3280</b>人/次</p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/xc/550.html" target="_blank"><img src="/upload/201809/t_5ba059487e2df.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/xc/550.html" target="_blank">玩转巴厘岛双飞8日游</a></p>
                        <p class="cont_le1_pri"><b class="orange">￥3880</b>人/次</p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/xc/549.html" target="_blank"><img src="/upload/201806/t_5b2b7cd1d84de.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/xc/549.html" target="_blank">泰国曼谷+芭提雅6日游：遇见希尔顿</a></p>
                        <p class="cont_le1_pri"><b class="orange">￥3980</b>人/次</p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/xc/530.html" target="_blank"><img src="/upload/201809/t_5b9b61e43d1ef.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/xc/530.html" target="_blank">红色全景：长韶、韶山、岳阳、衡山双卧6日</a></p>
                        <p class="cont_le1_pri"><b class="orange">￥1890</b>人/次</p>
                    </li>
                    <li class="clear"></li>
                </ul>
            </div>
        </div>

        <div class="cont_le_1">
            <div class="cont_le_1_1">
                <h3>最新资讯</h3>
                <ul>
                    <li class="cont_le1_li1">
                        <a href="/news/62.html" target="_blank"><img src="/upload/201806/5b2b7f6c25f07.png" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/62.html" target="_blank">旅游合同</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/61.html" target="_blank"><img src="/upload/201802/5a72b2d9488ae.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/61.html" target="_blank">团款支付方式</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/60.html" target="_blank"><img src="/upload/201809/5ba30c205b78c.png" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/60.html" target="_blank">代订长隆主题公园各类门票</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/59.html" target="_blank"><img src="/upload/201811/5be2b4dea3127.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/59.html" target="_blank">河南旅游之开封旅游</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/56.html" target="_blank"><img src="/upload/201811/5be2b4f2ef852.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/56.html" target="_blank">舌尖上的开封（一）</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/55.html" target="_blank"><img src="/upload/201405/53673a96206bb.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/55.html" target="_blank">【资讯】史上最全军官证免票的景点攻略（假日出游必备）</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/54.html" target="_blank"><img src="/upload/201809/5ba30dbe6b004.png" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/54.html" target="_blank">泰国值得去的N个理由</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/53.html" target="_blank"><img src="/upload/201404/5359c15f82209.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/53.html" target="_blank">吃在郑州，126家餐厅随你选</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/52.html" target="_blank"><img src="/upload/201806/5b2cc72807160.png" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/52.html" target="_blank">对于孩子，旅行意义何在（强烈推荐）</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/51.html" target="_blank"><img src="/upload/201809/5ba3730e3b5ab.png" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/51.html" target="_blank">中国护照签证 2014新政策。打算出国的朋友别忘记瞧瞧！</a></p>
                    </li>
                    <li class="clear"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cont_right float_ri">
        <div class="cont_ri_tit2">云台山两日游</div>
        <div class="pro_cont1">
            <div class="pro_con1_left float_le">
                <p>
                    <img src="/upload/201809/5bad982680cec.jpg" width="280" height="210">
                </p>

                <p class="pro_con1_details">国家五A级风景区，世界地质公园。 河南云台山，位于河南省修武县境内，以独具特色的“北方岩溶地貌”被列入首批世界地质公园名...</p>

                <div class="clear"></div>

            </div>
            <div class="pro_con1_right float_ri">
                <ul>
                    <li class="pro_con1_ri_li1">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</li>
                    <li>
                        <b class="orange2">368</b>元/人

                    </li>
                </ul>

                <ul>
                    <li class="pro_con1_ri_li1">发团日期：</li>
                    <li>天天发团，请提前报名!</li>
                </ul>
                <ul>
                    <li class="pro_con1_ri_li1">服务承诺：</li>
                    <li><span class="jwzf">诚信经营&nbsp;&nbsp;&nbsp;&nbsp;品质保证</span></li>
                </ul>
                <div class="pro_con1_ri_yd">

                    <div class="xc_r2">
                        <ul>
                            <li class="kfqqs1"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2960778641&amp;site=qq&amp;menu=yes">旅游客服1[<img border="0" src="http://wpa.qq.com/pa?p=2:2960778641:45" alt="给我发消息" title="给我发消息">]</a></li>
                            <li class="kfqqs2"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1486905872&amp;site=qq&amp;menu=yes">旅游客服2[<img border="0" src="http://wpa.qq.com/pa?p=2:1486905872:45" alt="给我发消息" title="给我发消息">]</a></li>
                            <li class="kfqqs3"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2960778641&amp;site=qq&amp;menu=yes">旅游客服3[<img border="0" src="http://wpa.qq.com/pa?p=2:2960778641:45" alt="给我发消息" title="给我发消息">]</a></li>
                            <li class="kfqqs4"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1486905872&amp;site=qq&amp;menu=yes">旅游客服4[<img border="0" src="http://wpa.qq.com/pa?p=2:1486905872:45" alt="给我发消息" title="给我发消息">]</a></li>
                        </ul>
                    </div>
                    <div class="xc_r2">
                        <p>旅游热线电话:</p>
                        <p>0371- 6131 2781       </p><p>     0371- 6131  2781    多线       </p>		    <p>值班手机：135 9881 4048=微信</p>
                        <p>&nbsp;</p>

                        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1563758717791"><a class="bds_more" href="http://share.baidu.com/code#" data-cmd="more"></a><a class="bds_qzone" title="分享到QQ空间" href="http://share.baidu.com/code#" data-cmd="qzone"></a><a class="bds_tsina" title="分享到新浪微博" href="http://share.baidu.com/code#" data-cmd="tsina"></a><a class="bds_tqq" title="分享到腾讯微博" href="http://share.baidu.com/code#" data-cmd="tqq"></a><a class="bds_renren" title="分享到人人网" href="http://share.baidu.com/code#" data-cmd="renren"></a><a class="bds_t163" title="分享到网易微博" href="http://share.baidu.com/code#" tangram_guid="TANGRAM_46" data-cmd="t163"></a></div>
                        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];</script>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="pro_cont2_tit">
            <h3>行程行情</h3>
        </div>
        <div class="pro_cont2">
            <p style="margin-top:0px;margin-bottom:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;text-align:center;"><span style="margin:0px;padding:0px;font-size:16px;"><b style="margin:0px;padding:0px;">云台山二日游</b></span></p>
            <p style="margin-top:0px;margin-bottom:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;"><span style="margin:0px;padding:0px;font-size:16px;">【景区介绍】</span></p>
            <p style="margin-top:0px;margin-bottom:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;"><span style="margin:0px;padding:0px;font-size:16px;">云台山位于河南省修武县境内，是全球首批世界地质公园，同时又是河南省一个集国家重点风景名胜区、国家AAAAA级景区、国家文明风景旅游区、国家森林公园、国家水利风景名胜区、国家猕猴自然保护区七个国家级于一体的风景名胜区。景区面积190平方公里，是一处以太行山岳丰富的水景为特色，以峡谷类地质地貌景观和悠久的历史文化为内涵，集科学价值和美学价值于一身的科普生态旅游精品景区，因山势险峻，峰壑之间常年云锁雾绕而得名。</span></p>
            <p style="margin-top:0px;margin-bottom:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;"></p>
            <p style="margin-top:0px;margin-bottom:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
                <span style="margin:0px;padding:0px;font-size:16px;">
                    <b style="margin:0px;padding:0px;">
                        <br style="margin:0px;padding:0px;">
                    </b>
                </span>
            </p>
            <p style="margin-top:0px;margin-bottom:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;"><span style="margin:0px;padding:0px;font-size:16px;"><b style="margin:0px;padding:0px;">【行程安排】</b></span></p>
            <span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;"><b style="margin:0px;padding:0px;">第一天：</b></span><span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;">郑州~云台山：&nbsp;</span><br data-filtered="filtered" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
            <span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;"><b style="margin:0px;padding:0px;">7:30</b></span><span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;">左右出发,赴国家5A级景区——【云台山】， 9:30左右抵达景区，后换乘坐景区巴士赴享有“盆景峡谷”之美誉，并被园林家称之为“自然山水精品画廊”的【红石峡】。红石峡是一处长约1500米，最宽处不过20米，最窄处不到5米的峡谷景观。整条峡谷处于地表以下。游览时，沿着一条弯曲的阶梯路，一步一步地下到86米深的谷底，才能欣赏到深藏的奇景。红石峡景区集秀、幽、雄、险于一身，泉、瀑、溪、潭于一谷。明代怀庆知府徐以贞曾写诗夸道：何年鬼斧劈层崖，鸟翼飞来一线开。斜阳在山归意懒，不堪回首重徘徊。</span><br data-filtered="filtered" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
            <span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;"><b style="margin:0px;padding:0px;">12:00</b></span><span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;">左右景区服务区内用中餐。</span><br data-filtered="filtered" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
            <span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;"><b style="margin:0px;padding:0px;">13:00</b></span><span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;">左右换乘景区巴士抵达素有“北方小九寨”之美誉的【小寨沟】，参观潭瀑峡、泉瀑峡、猕猴谷景区。潭瀑峡又名小寨沟是大自然的杰作，它三步一泉、五步一瀑、十步一潭，呈现出千变万化的飞瀑、走泉、彩谭和山石景观，故又得雅号“潭瀑川”；泉瀑峡又名老潭沟，总长约3公里，两岸高峰耸立，气势恢宏。沟的尽头为华夏第一高瀑--云台天瀑，瀑布落差达314米。远远望去，只见见它上吻蓝天，下蹈石坪，犹如擎天玉柱，美不胜收；猕猴谷里有数量众多的野生猕猴群落在景区分布，白天活动觅食，夜间宿于悬崖峭壁之上，为丰富您的游览活动，景点内还有免费猕猴表演，可以根据时间自由观看！</span><br data-filtered="filtered" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
            <p style="margin-top:0px;margin-bottom:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
                <span style="margin:0px;padding:0px;font-size:16px;">
                    <br style="margin:0px;padding:0px;">
                </span>
            </p>
            <p style="margin-top:0px;margin-bottom:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;"><span style="margin:0px;padding:0px;font-size:16px;"><b style="margin:0px;padding:0px;">第二天：</b></span><span style="margin:0px;padding:0px;font-size:16px;">云台山~郑州：</span></p>
            <span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;"><b style="margin:0px;padding:0px;">7:30</b></span><span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;">左右，用早餐。</span><br data-filtered="filtered" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
            <span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;"><b style="margin:0px;padding:0px;">8:00</b></span><span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;">乘坐景区巴士途经【叠彩洞】前往云台山主峰【茱萸峰】，让您体验在云中飞驰的感觉。</span><br data-filtered="filtered" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
            <span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;"><b style="margin:0px;padding:0px;">8:30</b></span><span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;">左右抵达茱萸峰停车场，游览云台山珠峰——俗名小北顶，海拔1308米，峰顶有真武大帝庙、天桥、云梯。峰腰有药王洞，深30米，直径10米，相传是唐代药王孙思邈采药炼丹的地方，药王洞口有红豆杉一株，高约20米，树龄在千年左右，是国内罕见的名木。另有王维名诗《九月九日忆山东兄弟》：“独在异乡为异客，每逢佳节倍思亲；遥知兄弟登高处，遍插茱萸少一人”。即于此峰有感而作。</span><br data-filtered="filtered" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
            <span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;"><b style="margin:0px;padding:0px;">12:00-13:30</b></span><span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;">乘坐景区巴士返回服务区用中餐。</span><br data-filtered="filtered" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
            <span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;"><b style="margin:0px;padding:0px;">13:30-16:00</b></span><span style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;font-size:16px;">可自由游览世界地质公园云台山景区——【万善寺】，青山环抱，风景秀丽。</span><br data-filtered="filtered" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
            <p style="margin-top:0px;margin-bottom:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;"></p>
            <p style="margin-top:0px;margin-bottom:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;"><span style="margin:0px;padding:0px;font-size:16px;"><b style="margin:0px;padding:0px;">16:30</b>左右乘车返回郑州，19:00左右抵达郑州，结束轻松愉快的云台山之旅！</span></p>
            <div style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
                <br style="margin:0px;padding:0px;">
            </div>
            <div style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;"><span style="margin:0px;padding:0px;font-size:16px;"><b style="margin:0px;padding:0px;">费用包含 &nbsp;</b></span><span style="margin:0px;padding:0px;font-size:14px;">费用说明</span><span style="margin:0px;padding:0px;font-size:14px;">费用根据最终预订的行程计划会有所变化，具体请以最终协议与出团通知书为准</span></div>
            <p style="margin-top:0px;margin-bottom:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;"></p>
            <div id="price_content" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
                <span style="margin:0px;padding:0px;font-size:16px;">【接待标准】</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">1、交通：往返空调旅游车</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">2、门票：景区首道大门票</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">3、用餐：1早2正餐农家餐（正餐十人一桌，十菜一汤）&nbsp;</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">4、住宿：农家宾馆（2-3人间，独立卫生间） 不吃不住不退费</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">5、导游：全程中文导游服务</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <p style="margin-top:0px;margin-bottom:0px;padding:0px;"><span style="margin:0px;padding:0px;font-size:16px;">6、保险：旅行社责任险和旅游人身意外险</span></p>
                <p style="margin-top:0px;margin-bottom:0px;padding:0px;"><span style="margin:0px;padding:0px;font-size:16px;color:#e53333;">节假日房费上浮期间价位：398元/人</span></p>
                <p style="margin-top:0px;margin-bottom:0px;padding:0px;">
                    <span style="margin:0px;padding:0px;font-size:16px;">
                        <br style="margin:0px;padding:0px;">
                    </span>
                </p>
            </div>
            <div style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;"><span style="margin:0px;padding:0px;font-size:16px;"><b style="margin:0px;padding:0px;">费用不包含</b></span></div>
            <div id="price_nocontent" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
                <span style="margin:0px;padding:0px;font-size:16px;">1、此报价为成人报价。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">2、小孩70cm-1.4米儿童需占座，需收车位费，如产生门票自理。1.4米以上按成人收费。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">3、优惠证件：老年证、学生证、现役军官、记者等享受优惠证件的客人请到当地之后出示有效证件，</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">4、我社以景区政策为准，凡享受门票优惠的客人，我社在当地按照旅行社折扣价格现退给客人。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">5、游览过程中在不减少景点的情况下，我社根据往返车次时间有权在当地调整行程的顺序和住宿地，整个行程的景点内容和标准不变。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">6、出门在外以和为贵，请游客不要和当地人发生冲突，有问题可以告知导游协助其解决。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">7、旅游争议说明：（1）如客人在旅程中遇到任何质量问题请与我社当天联系协商解决。我社处理 投诉均以当地意见单为准，请客人认真填写当地意见单。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">如遇天气等人力不可抗拒因素造成景点无法游览，我社将按照旅行社协议门票价格，退还未游览景点的门票费用，游客因个人原因临时自愿放弃游览，车费不退，</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                <span style="margin:0px;padding:0px;font-size:16px;">（3）因人力不可抗拒因素（如气候、政治、火车晚点等）造成行程延误或变更，除按有关规定处理外，我社不承担其它损失赔偿责任（有义务协助客人投诉），所产生的费用由客人自理。</span>
            </div>
            <div id="price_nocontent" style="margin:0px;padding:0px;font-family:Verdana, Arial, Helvetica, sans-serif, 宋体;">
                <div style="margin:0px;padding:0px;"><span style="margin:0px;padding:0px;font-size:16px;">注意事项</span></div>
                <div id="tip_content" style="margin:0px;padding:0px;">
                    <p style="margin-top:0px;margin-bottom:0px;padding:0px;">
                        <span style="margin:0px;padding:0px;font-size:16px;">
                            <br style="margin:0px;padding:0px;">
                        </span>
                    </p>
                    <p style="margin-top:0px;margin-bottom:0px;padding:0px;"><b style="margin:0px;padding:0px;"><span style="margin:0px;padding:0px;font-size:16px;">【</span><span style="margin:0px;padding:0px;font-size:16px;">注意事项</span><span style="margin:0px;padding:0px;font-size:16px;">】</span></b></p>
                    <span style="margin:0px;padding:0px;font-size:16px;">1、中原地区气候干燥，建议您在游览期间多喝水。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                    <span style="margin:0px;padding:0px;font-size:16px;">2、外出旅行，携带好身份证件，注意保管好自己的财务安全，注意身体健康。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                    <span style="margin:0px;padding:0px;font-size:16px;">3、若有晕车史的，出游前不应吃的太饱，应预先服用并随身携带晕车药或者晕车贴。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                    <span style="margin:0px;padding:0px;font-size:16px;">4、云台山多为山路，为了您的游览更加愉快，建议您选择轻便的服装、运动鞋等。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                    <span style="margin:0px;padding:0px;font-size:16px;">5、景区门票实行分景点验票的验票制，门票自购买之日起2日内有效，游览过程中请您妥善保管好门票，以备查验。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                    <span style="margin:0px;padding:0px;font-size:16px;">6、抵达景区游览前，谨记导游交代的集合时间、地点及所乘旅游车牌号。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                    <span style="margin:0px;padding:0px;font-size:16px;">7、为方便游客云台山景区在每个景点的出入口设有专门的吸烟点，嗜好吸烟的游客请选择到指定的抽烟点抽烟。在景区游览过程中，注意护林防火，保护环境。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                    <span style="margin:0px;padding:0px;font-size:16px;">8、旅游过程中一定要做到“观景不走路，走路不观景：，听从导游安排，度过愉快的旅程。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                    <span style="margin:0px;padding:0px;font-size:16px;">9、景区游览时请客人跟随导游游览参观，请勿擅自离团，否则出现任何问题后果自负，如有特殊情况请与导游协商。&nbsp;</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                    <span style="margin:0px;padding:0px;font-size:16px;">10、不到未开发的地方参观，以免发生意外。</span><br data-filtered="filtered" style="margin:0px;padding:0px;">
                    <span style="margin:0px;padding:0px;font-size:16px;">11、因人力不可抗拒因素（如天气、政策等）造成损失费用客人自行支付。</span>
                </div>
            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
