@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model YMApp.ECommerce.Trips.Dtos.TripListDto
<div class="dqwz"><a href="/">首页</a> &gt; <a href="/xclist/5.html">河南两日游</a> &gt; 云台山两日游</div>
<div class="content_cont">
    <div class="cont_left float_le">
        <div class="cont_le_1">
            <div class="cont_le_1_1">
                <h3>一周热销</h3>
                <ul>
                    <li class="cont_le1_li1">
                        <a href="/xc/581.html" target="_blank"><img src="/upload/201809/t_5b961df6e6b33.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/xc/581.html" target="_blank">云南双飞6日游</a></p>
                        <p class="cont_le1_pri"><b class="orange">￥2180</b>人/次</p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/xc/558.html" target="_blank"><img src="/upload/201811/t_5be15bb52eea8.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/xc/558.html" target="_blank">三亚快乐无忧双飞5日游</a></p>
                        <p class="cont_le1_pri"><b class="orange">￥3280</b>人/次</p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/xc/550.html" target="_blank"><img src="/upload/201809/t_5ba059487e2df.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/xc/550.html" target="_blank">玩转巴厘岛双飞8日游</a></p>
                        <p class="cont_le1_pri"><b class="orange">￥3880</b>人/次</p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/xc/549.html" target="_blank"><img src="/upload/201806/t_5b2b7cd1d84de.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/xc/549.html" target="_blank">泰国曼谷+芭提雅6日游：遇见希尔顿</a></p>
                        <p class="cont_le1_pri"><b class="orange">￥3980</b>人/次</p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/xc/530.html" target="_blank"><img src="/upload/201809/t_5b9b61e43d1ef.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/xc/530.html" target="_blank">红色全景：长韶、韶山、岳阳、衡山双卧6日</a></p>
                        <p class="cont_le1_pri"><b class="orange">￥1890</b>人/次</p>
                    </li>
                    <li class="clear"></li>
                </ul>
            </div>
        </div>

        <div class="cont_le_1">
            <div class="cont_le_1_1">
                <h3>最新资讯</h3>
                <ul>
                    <li class="cont_le1_li1">
                        <a href="/news/62.html" target="_blank"><img src="/upload/201806/5b2b7f6c25f07.png" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/62.html" target="_blank">旅游合同</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/61.html" target="_blank"><img src="/upload/201802/5a72b2d9488ae.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/61.html" target="_blank">团款支付方式</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/60.html" target="_blank"><img src="/upload/201809/5ba30c205b78c.png" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/60.html" target="_blank">代订长隆主题公园各类门票</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/59.html" target="_blank"><img src="/upload/201811/5be2b4dea3127.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/59.html" target="_blank">河南旅游之开封旅游</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/56.html" target="_blank"><img src="/upload/201811/5be2b4f2ef852.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/56.html" target="_blank">舌尖上的开封（一）</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/55.html" target="_blank"><img src="/upload/201405/53673a96206bb.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/55.html" target="_blank">【资讯】史上最全军官证免票的景点攻略（假日出游必备）</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/54.html" target="_blank"><img src="/upload/201809/5ba30dbe6b004.png" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/54.html" target="_blank">泰国值得去的N个理由</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/53.html" target="_blank"><img src="/upload/201404/5359c15f82209.jpg" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/53.html" target="_blank">吃在郑州，126家餐厅随你选</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/52.html" target="_blank"><img src="/upload/201806/5b2cc72807160.png" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/52.html" target="_blank">对于孩子，旅行意义何在（强烈推荐）</a></p>
                    </li>
                    <li class="clear"></li>
                </ul><ul>
                    <li class="cont_le1_li1">
                        <a href="/news/51.html" target="_blank"><img src="/upload/201809/5ba3730e3b5ab.png" width="100" height="70"></a>
                    </li>
                    <li class="cont_le1_li2">
                        <p class="cont_le1_tit"><a href="/news/51.html" target="_blank">中国护照签证 2014新政策。打算出国的朋友别忘记瞧瞧！</a></p>
                    </li>
                    <li class="clear"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cont_right float_ri">
        <div class="cont_ri_tit2">@Model.Name</div>
        <div class="pro_cont1">
            <div class="pro_con1_left float_le">
                <p>
                    <img src="@Model.PictureUrl" width="280" height="210">
                </p>

                <p class="pro_con1_details">国家五A级风景区，世界地质公园。 河南云台山，位于河南省修武县境内，以独具特色的“北方岩溶地貌”被列入首批世界地质公园名...</p>

                <div class="clear"></div>

            </div>
            <div class="pro_con1_right float_ri">
                <ul>
                    <li class="pro_con1_ri_li1">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</li>
                    <li>
                        <b class="orange2">@Model.Price</b>元/人

                    </li>
                </ul>

                <ul>
                    <li class="pro_con1_ri_li1">发团日期：</li>
                    <li>天天发团，请提前报名!</li>
                </ul>
                <ul>
                    <li class="pro_con1_ri_li1">服务承诺：</li>
                    <li><span class="jwzf">诚信经营&nbsp;&nbsp;&nbsp;&nbsp;品质保证</span></li>
                </ul>
                <div class="pro_con1_ri_yd">

                    <div class="xc_r2">
                        <ul>
                            <li class="kfqqs1"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2960778641&amp;site=qq&amp;menu=yes">旅游客服1[<img border="0" src="http://wpa.qq.com/pa?p=2:2960778641:45" alt="给我发消息" title="给我发消息">]</a></li>
                            <li class="kfqqs2"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1486905872&amp;site=qq&amp;menu=yes">旅游客服2[<img border="0" src="http://wpa.qq.com/pa?p=2:1486905872:45" alt="给我发消息" title="给我发消息">]</a></li>
                            <li class="kfqqs3"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2960778641&amp;site=qq&amp;menu=yes">旅游客服3[<img border="0" src="http://wpa.qq.com/pa?p=2:2960778641:45" alt="给我发消息" title="给我发消息">]</a></li>
                            <li class="kfqqs4"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1486905872&amp;site=qq&amp;menu=yes">旅游客服4[<img border="0" src="http://wpa.qq.com/pa?p=2:1486905872:45" alt="给我发消息" title="给我发消息">]</a></li>
                        </ul>
                    </div>
                    <div class="xc_r2">
                        <p>旅游热线电话:</p>
                        <p>0371- 6131 2781       </p><p>     0371- 6131  2781    多线       </p>		    <p>值班手机：135 9881 4048=微信</p>
                        <p>&nbsp;</p>

                        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1563758717791"><a class="bds_more" href="http://share.baidu.com/code#" data-cmd="more"></a><a class="bds_qzone" title="分享到QQ空间" href="http://share.baidu.com/code#" data-cmd="qzone"></a><a class="bds_tsina" title="分享到新浪微博" href="http://share.baidu.com/code#" data-cmd="tsina"></a><a class="bds_tqq" title="分享到腾讯微博" href="http://share.baidu.com/code#" data-cmd="tqq"></a><a class="bds_renren" title="分享到人人网" href="http://share.baidu.com/code#" data-cmd="renren"></a><a class="bds_t163" title="分享到网易微博" href="http://share.baidu.com/code#" tangram_guid="TANGRAM_46" data-cmd="t163"></a></div>
                        <script>window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdPic": "", "bdStyle": "0", "bdSize": "16" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="pro_cont2_tit">
            <h3>行程行情</h3>
        </div>
        <div class="pro_cont2">
            @(Html.Raw(Model.Content))
        </div>

    </div>
    <div class="clear"></div>
</div>
