@using YMApp.Web.Views.Shared.Components.SideBarNav
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>河南康辉国际旅行社有限责任公司省直营业部,河南旅游网，旅游网，郑州旅行社，旅行社，河南旅行社，郑州旅游，郑州旅游网，河南旅游，康辉旅行社，郑州康辉旅行社，河南康辉旅行社，康辉，康辉旅游,旅游，诚信旅游</title>
    <meta name="description" content="河南康辉国际旅行社有限责任公司省直营业部,河南旅游网，旅游网，郑州旅行社，旅行社，河南旅行社，郑州旅游，郑州旅游网，河南旅游，康辉旅行社，郑州康辉旅行社，河南康辉旅行社，康辉，康辉旅游,旅游，诚信旅游网，郑州康辉，郑州康辉旅游，河南康辉，河南康辉旅游，康辉旅游网，郑州旅行社排名

" />
    <meta name="keywords" content="河南康辉国际旅行社有限责任公司省直营业部,河南旅游网，旅游网，郑州旅行社，旅行社，河南旅行社，郑州旅游，郑州旅游网，河南旅游，康辉旅行社，郑州康辉旅行社，河南康辉旅行社，康辉，康辉旅游,旅游，诚信旅游网，郑州康辉，郑州康辉旅游，河南康辉，河南康辉旅游，康辉旅游网，郑州旅行社排名" />
    <link href="~/css/css.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", required: false)
    <script src="~/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="~/js/archefoucs.js" type="text/javascript"></script>
    <script type="text/javascript">function browserRedirect() {
            var sUserAgent = navigator.userAgent.toLowerCase();
            var Android = sUserAgent.match(/android/i) == "android";
            var Linux = sUserAgent.match(/linux/i) == "linux";
            var Mobi = sUserAgent.match(/mobi/i) == "mobi";
            var Pad = sUserAgent.match(/pad/i) == "pad";
            var IOS = sUserAgent.match(/ios/i) == "ios";
            var iPad = sUserAgent.match(/ipad/i) == "ipad";
            var iPhone = sUserAgent.match(/iphone/i) == "iphone";
            var Windows_Phone = sUserAgent.match(/windows iphone/i) == "windows iphone";
            var Symbian = sUserAgent.match(/symbian/i) == "symbian";

            if ((Android || Linux) && Mobi && !Pad || (IOS && !iPad) || iPhone || Windows_Phone || Symbian) {
                var curHref = window.location.href;
                if (curHref.indexOf("http://khlykf.com") == 0) {
                    window.location.href = curHref.replace("http://khlykf.com", "http://m.khlykf.com");
                }
                if (curHref.indexOf("http://www.khlykf.com") == 0) {
                    window.location.href = curHref.replace("http://www.khlykf.com", "http://m.khlykf.com");
                }
            }
        }
        browserRedirect();</script>

</head>

<body>
    <div class="head">
        <p><a href="#">关于我们</a> - <a href="#">收藏本站</a> - <a href="#">设为首页</a></p>
    </div>
    <style>
    </style>
    <div class="top" style="margin:0 auto; width:1400px;">
        <img src="/images/logo.jpg" alt="诚信旅游网" />
    </div>

    @await Component.InvokeAsync(typeof(SideBarNavViewComponent), new { activeMenu = ViewBag.CurrentPageName })

    <script type="text/javascript" src="~/js/jquery.KinSlideshow-1.2.js"></script>
    <script type="text/javascript">$(function () {
            $("#KinSlideshow").KinSlideshow({
                moveStyle: "right",
                titleBar: { titleBar_height: 30, titleBar_alpha: 0.5 },
                titleFont: { TitleFont_size: 12, TitleFont_color: "#FFFFFF", TitleFont_weight: "normal" },
                btn: { btn_bgColor: "#FFFFFF", btn_bgHoverColor: "#1072aa", btn_fontColor: "#FFFFFF", btn_fontHoverColor: "#1072aa", btn_borderColor: "#cccccc", btn_borderHoverColor: "#cccccc", btn_borderWidth: 1 }
            });
        })</script>
    <div class="content">
        @RenderBody()
    </div>
    <div class="cont_5 bor_blue">
        <h3 class="tit_column_04 tit_c_11">友情链接</h3>
        <ul>
            <li><a href="http://www.khlykf.com/news/61.shtml" target="_blank"><img src="/upload/201802/5a72b5bd94c83.jpg" width="96" height="46" alt="" /></a></li>
            <li><a href="http://www.khlykf.com/" target="_blank"><img src="/upload/201401/52c4e2d4e1ad7.jpg" width="96" height="46" alt="" /></a></li>
            <li><a href="http://v.youku.com/v_show/id_XNDc5MjAwMzA0.html" target="_blank"><img src="/upload/201401/52c4e99f827cd.jpg" width="96" height="46" alt="" /></a></li>
            <li><a href="http://www.weather.com.cn/" target="_blank"><img src="/upload/201401/52c4ea2954623.jpg" width="96" height="46" alt="" /></a></li>
            <li><a href="http://www.sohu.com/" target="_blank"><img src="/upload/201401/52c4eadcc9416.jpg" width="96" height="46" alt="" /></a></li>
            <li><a href="http://www.sina.com.cn/" target="_blank"><img src="/upload/201401/52c4eb371c3bc.jpg" width="96" height="46" alt="" /></a></li>
            <li><a href="http://www.khlykf.com" target="_blank"><img src="/upload/201801/5a7195be196e7.png" width="96" height="46" alt="网易" /></a></li>
            <li><a href="http://www.khlykf.com/news/62.shtml" target="_blank"><img src="/upload/201802/5a728e1b99d48.jpg" width="96" height="46" alt="" /></a></li>
            <li><a href="http://www.khlykf.com/xclist/19.html" target="_blank"><img src="/upload/201902/5c653a520c8a6.jpg" width="96" height="46" alt="签证" /></a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="foot">
        <p>联系地址:河南.郑州市紫荆山路与东里路交叉口紫金城大厦1109室&nbsp;&nbsp;&nbsp;&nbsp;QQ:475326265</p>
        <p>
            联系电话:
            0371- 6131 2781       ,&nbsp;&nbsp;&nbsp;&nbsp;     0371- 6131  2781    多线       ,&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <p>
        </p><ul class="cont_1_contact_ul2" style="width:500px;">
            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2960778641&amp;site=qq&amp;menu=yes">旅游客服1<img border="0" src="http://wpa.qq.com/pa?p=2:2960778641:45" alt="给我发消息" title="给我发消息" /></a></li>
            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1486905872&amp;site=qq&amp;menu=yes">旅游客服2<img border="0" src="http://wpa.qq.com/pa?p=2:1486905872:45" alt="给我发消息" title="给我发消息" /></a></li>
            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2960778641&amp;site=qq&amp;menu=yes">旅游客服3<img border="0" src="http://wpa.qq.com/pa?p=2:2960778641:45" alt="给我发消息" title="给我发消息" /></a></li>
            <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1486905872&amp;site=qq&amp;menu=yes">旅游客服4<img border="0" src="http://wpa.qq.com/pa?p=2:1486905872:45" alt="给我发消息" title="给我发消息" /></a></li>
        </ul>
        &nbsp;&nbsp;&nbsp;&nbsp;值班手机:135 9881 4048=微信&nbsp;&nbsp;&nbsp;&nbsp;质量监督：李经理 0371-5608 7107
        <p></p>
        <div class="clear"></div>
        <p> 吴贵洋：156 1798 5305 =微信|刘文旭:156 3929 7209=微信| 郭星语:156 1798 5910=微信 |李全富:135 9881 4048=微信     </p>
        <div class="clear"></div>
        <p></p>
        <p>河南诚信旅游网由河南康辉国际旅行社运营及提供相关旅游产品服务！&nbsp;&nbsp;&nbsp;&nbsp;旅行社许可证号：L-HEN-CJ00011 <a target="_blank" href="http://www.miitbeian.gov.cn">豫ICP备10016861号-3</a></p>
        <p>
            版权所有：河南康辉国际旅行社有限责任公司郑州省直服务网点&nbsp;&nbsp;&nbsp;&nbsp;仿者必究&nbsp;&nbsp;&nbsp;&nbsp;

            <span style="font-size:11px;">技术支持:<a href="http://www.sanshankeji.com" target="_blank">网站建设_郑州三山科技</a></span>

        </p>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>