@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cont_1">
    <div class="cont_1_left float_le">
        <div class="aboutus bor_green">
            <h4 class="tit_column_04 tit_c_10">本站简介</h4>
            <ul>
                <li><a href="/news/3.html" target="_blank">河南省四星级旅行社,全国百强旅行社</a></li>
                <li>
                    <a href="/news/3.html" target="_blank">
                        国家旅游局批准的中国公民出境旅游组团社
                    </a>
                </li>
                <li><a href="/news/3.html" target="_blank">上周客户满意度98%</a></li>
            </ul>
        </div>
        <div class="contact bor_green">
            <h4 class="tit_column_04 tit_c_10">联系我们</h4>
            <div class="contacts">
                <p>0371- 6131 2781       </p><p>     0371- 6131  2781    多线       </p>
            </div>
            <div class="clear"></div>
            <h4 class="tit_column_04 tit_c_10">旅游在线QQ:</h4>
            <ul class="cont_1_contact_ul2">
                <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2960778641&amp;site=qq&amp;menu=yes">旅游客服1[<img border="0" src="http://wpa.qq.com/pa?p=2:2960778641:45" alt="给我发消息" title="给我发消息">]</a></li>
                <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1486905872&amp;site=qq&amp;menu=yes">旅游客服2[<img border="0" src="http://wpa.qq.com/pa?p=2:1486905872:45" alt="给我发消息" title="给我发消息">]</a></li>
                <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2960778641&amp;site=qq&amp;menu=yes">旅游客服3[<img border="0" src="http://wpa.qq.com/pa?p=2:2960778641:45" alt="给我发消息" title="给我发消息">]</a></li>
                <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1486905872&amp;site=qq&amp;menu=yes">旅游客服4[<img border="0" src="http://wpa.qq.com/pa?p=2:1486905872:45" alt="给我发消息" title="给我发消息">]</a></li>
            </ul>
            <div class="clear"></div>
            <p>值班手机：135 9881 4048=微信</p>
        </div>
    </div>
    <div class="cont_1_right float_ri">
        <div class="header">
            <div class="gg" id="gg">
                <div id="KinSlideshow" style="visibility: visible; width: 725px; height: 245px; overflow: hidden; position: relative;">
                    <div id="KinSlideshow_moveBox" style="width: 725px; height: 245px; overflow: hidden; position: relative;">
                        <div id="KinSlideshow_XposBox" style="float: left; width: 2000%;">
                            <div id="KinSlideshow_content" style="float: left;">
                                <a href="http://www.khlykf.com" target="_blank">
                                    <img src="~/images/5cc6cad800004.jpg" width="725" height="245" style="border: 0px;">
                                </a>
                                <a href="http://www.khlykf.com/xc/586.html" target="_blank"><img src="~/images/5c64e2efa341b.jpg" width="725" height="245" style="border: 0px;"></a>
                                <a href="http://www.khlykf.com" target="_blank">
                                    <img src="~/images/5c64e2efa341b.jpg" width="725" height="245" style="border: 0px;">
                                </a>
                                <a href="http://www.khlykf.com" target="_blank">
                                    <img src="~/images/5c64e2efa341b.jpg" width="725" height="245" style="border: 0px;">
                                </a>
                            </div><div id="KinSlideshow_contentClone" style="float: left;">
                                <a href="http://www.khlykf.com" target="_blank">
                                    <img src="~/images/5c64e2efa341b.jpg" width="725" height="245" style="border: 0px;">
                                </a>
                                <a href="http://www.khlykf.com/xc/586.html" target="_blank"><img src="~/images/5c64e2efa341b.jpg" width="725" height="245" style="border: 0px;"></a>
                                <a href="http://www.khlykf.com" target="_blank"><img src="~/images/5c64e2efa341b.jpg" width="725" height="245" style="border: 0px;"></a>
                                <a href="http://www.khlykf.com" target="_blank"><img src="~/images/5c64e2efa341b.jpg" width="725" height="245" style="border: 0px;"></a>
                            </div>
                        </div>
                    </div>
                    <div class="KinSlideshow_titleBar" style="height: 30px; width: 100%; position: absolute; bottom: 0px; left: 0px; opacity: 0.5;">
                        <h2 class="title" style="margin: 3px 0px 0px 6px; padding: 0px; font-size: 12px; color: rgb(255, 255, 255); font-family: Verdana; font-weight: normal;"></h2>
                    </div>
                    <div class="KinSlideshow_btnBox" style="position:absolute;right:10px;bottom:5px; z-index:100">
                        <ul id="btnlistID" style="margin:0;padding:0; overflow:hidden">
                            <li style="list-style: none; float: left; width: 9px; height: 9px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(255, 255, 255); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 9px; opacity: 0.7; color: rgb(255, 255, 255);">1</li>
                            <li style="list-style: none; float: left; width: 9px; height: 9px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(16, 114, 170); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 9px; opacity: 0.7; color: rgb(16, 114, 170);">2</li>
                            <li style="list-style: none; float: left; width: 9px; height: 9px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(255, 255, 255); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 9px; opacity: 0.7; color: rgb(255, 255, 255);">3</li>
                            <li style="list-style: none; float: left; width: 9px; height: 9px; border-width: 1px; border-color: rgb(204, 204, 204); border-style: solid; background: rgb(255, 255, 255); text-align: center; cursor: pointer; margin-left: 3px; font-size: 12px; font-family: Verdana; line-height: 9px; opacity: 0.7; color: rgb(255, 255, 255);">4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="search bor_orange">
            <form action="/index/search" method="post">
                <ul>
                    <li><b>线路搜索：</b></li>
                    <li>
                        <label for="search_text"></label>
                        <input type="text" name="skey" id="search_text">
                    </li>
                    <li>
                        <input type="submit" name="search" id="search" value="搜索一下">
                    </li>
                </ul>
                <input type="hidden" name="__hash__" value="d4fbf139ad6311242285dce97f2b490e">
            </form>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="cont_2">
    <div class="tit_column_4 tit_c_10">
        <h3 class="tit_column_3 tit_c_09">本月热销</h3>
        <p class="bor_green">
            <span class="float_ri">
                <!-- <a href="#">更多&gt;&gt;</a>-->
            </span>
            当前位置：河南省 - 郑州市&nbsp;&nbsp;&nbsp;&nbsp;订单数：<em class="red">56</em>份　
            <b class="red">24小时电话：0371- 6131 2781       </b>
        </p>
        <div class="clear"></div>
    </div>
    <div class="cont_2_cont  bor_green">
        <div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/1.html" target="_blank">更多&gt;&gt;</a></span>河南旅游</h3>
            <ul>
                <li>
                    <a href="/xc/293.html" target="_blank">少林寺、龙门石窟一日游</a><span class="purple">
                        328元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/296.html" target="_blank">开封清明上河园一日游</a><span class="purple">
                        268元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/75.html" target="_blank">云台山两日游</a><span class="purple">
                        368元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/310.html" target="_blank">尧山漂流一日游</a><span class="purple">
                        178元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/77.html" target="_blank">白云山两日游</a><span class="purple">
                        378元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/80.html" target="_blank">重渡沟两日游</a><span class="purple">
                        288元/人
                    </span>
                </li>
            </ul>
        </div>
        <div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/2.html" target="_blank">更多&gt;&gt;</a></span>国内旅游</h3>
            <ul>
                <li>
                    <a href="/xc/581.html" target="_blank">云南双飞6日游</a><span class="purple">
                        2180元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/307.html" target="_blank">青岛、日照汽车特惠四日游</a><span class="purple">
                        299元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/510.html" target="_blank">海南三亚双飞5日游</a><span class="purple">
                        1980元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/558.html" target="_blank">三亚快乐无忧双飞5日游</a><span class="purple">
                        3280元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/529.html" target="_blank">红色之旅：长沙、韶山双卧4日</a><span class="purple">
                        1060元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/408.html" target="_blank"> 泰山日出汽车两日游</a><span class="purple">
                        399元/人
                    </span>
                </li>
            </ul>
        </div>
        <div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/3.html" target="_blank">更多&gt;&gt;</a></span>出境旅游</h3>
            <ul>
                <li>
                    <a href="/xc/487.html" target="_blank">泰国双飞6日游</a><span class="purple">
                        1980元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/549.html" target="_blank">泰国曼谷+芭提雅6日游：遇见希尔顿</a><span class="purple">
                        3980元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/550.html" target="_blank">玩转巴厘岛双飞8日游</a><span class="purple">
                        3880元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/278.html" target="_blank">常规港澳---特惠双园五日游</a><span class="purple">
                        3280元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/163.html" target="_blank">泰国新加坡马来西亚十日游</a><span class="purple">
                        5580元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/398.html" target="_blank">夏威夷5晚8日 双岛自由行</a><span class="purple">
                        11200元/人
                    </span>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<ul class="cont_3">
    <li><a href="http://www.khlykf.com/" target="_blank"><img src="/upload/201811/5be2a9ccd14f8.jpg" width="315" height="150"></a></li>
    <li><a href="http://www.khlykf.com" target="_blank"><img src="/upload/201811/5be29d19ac28f.jpg" width="315" height="150"></a></li>
    <li class="margin_ri_none"><a href="http://www.khlykf.com/xc/293.html" target="_blank"><img src="/upload/201811/5be29ef950d17.jpg" width="315" height="150"></a></li>

</ul>
<div class="clear"></div>
<div class="cont_2">
    <div class="tit_column_4 tit_c_10">
        <h3 class="tit_column_3 tit_c_09">河南旅游</h3>
        <p class="bor_green">
            <span class="float_ri"><a href="/xclist/1.html" target="_blank">更多&gt;&gt;</a></span>
            当前位置：河南省 - 郑州市&nbsp;&nbsp;&nbsp;&nbsp;订单数：<em class="red">58</em>份　
            <b class="red">24小时电话：     0371- 6131  2781    多线       </b>
        </p>
        <div class="clear"></div>
    </div>
    <div class="cont_2_cont bor_green">

        <div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/4.html" target="_blank">更多&gt;&gt;</a></span>河南一日游</h3>
            <ul>
                <li>
                    <a href="/xc/294.html" target="_blank">少林寺一日游</a><span class="purple">
                        168元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/295.html" target="_blank">云台山一日游</a><span class="purple">
                        268元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/293.html" target="_blank">少林寺、龙门石窟一日游</a><span class="purple">
                        328元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/296.html" target="_blank">开封清明上河园一日游</a><span class="purple">
                        268元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/310.html" target="_blank">尧山漂流一日游</a><span class="purple">
                        178元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/189.html" target="_blank">郭亮村一日游</a><span class="purple">
                        188元/人
                    </span>
                </li>
            </ul>
        </div><div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/5.html" target="_blank">更多&gt;&gt;</a></span>河南两日游</h3>
            <ul>
                <li>
                    <a href="/xc/78.html" target="_blank">万仙山郭亮村两日游</a><span class="purple">
                        298元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/424.html" target="_blank">太行大峡谷+红旗渠两日游</a><span class="purple">
                        438元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/75.html" target="_blank">云台山两日游</a><span class="purple">
                        368元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/82.html" target="_blank">老君山追梦谷两日游</a><span class="purple">
                        378元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/77.html" target="_blank">白云山两日游</a><span class="purple">
                        378元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/80.html" target="_blank">重渡沟两日游</a><span class="purple">
                        288元/人
                    </span>
                </li>
            </ul>
        </div><div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/6.html" target="_blank">更多&gt;&gt;</a></span>单团（包团）旅游</h3>
            <ul>
                <li>
                    <a href="/xc/86.html" target="_blank">少林寺、开封、洛阳2日游</a><span class="purple">
                        728元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/87.html" target="_blank">少林寺龙门石窟白马寺云台山3日游</a><span class="purple">
                        980元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/326.html" target="_blank">少林寺龙门石窟+云台山3日游</a><span class="purple">
                        850元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/290.html" target="_blank">少林寺、洛阳牡丹、龙门石窟、开封、三日游</a><span class="purple">
                        988元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/480.html" target="_blank">河南全景五日游</a><span class="purple">
                        1550元/人
                    </span>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>
</div>
<ul class="cont_3">
    <li><a href="http://www.khlykf.com/xc/23.html" target="_blank"><img src="/upload/201811/5be3934441a95.jpg" width="315" height="150"></a></li>
    <li><a href="http://www.khlykf.com/" target="_blank"><img src="/upload/201811/5be397cd3d914.jpg" width="315" height="150"></a></li>
    <li class="margin_ri_none"><a href="http://www.khlykf.com/" target="_blank"><img src="/upload/201806/5b2c99fc4ae95.jpg" width="315" height="150"></a></li>
</ul>
<div class="clear"></div>
<div class="cont_2">
    <div class="tit_column_4 tit_c_10">
        <h3 class="tit_column_3 tit_c_09">国内线路</h3>
        <p class="bor_green">
            <span class="float_ri"> <a href="/xclist/2.html" target="_blank">更多&gt;&gt;</a></span>
            当前位置：河南省 - 郑州市&nbsp;&nbsp;&nbsp;&nbsp;订单数：<em class="red">56</em>份　
            <b class="red">24小时电话：0371- 6131 2781       </b>
        </p>
        <div class="clear"></div>
    </div>
    <div class="cont_2_cont bor_green">

        <!--	<div class="cont_2_content bor_green float_le">
                <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/8.html" target="_blank">更多&gt;&gt;</a></span>云南旅游专卖店</h3>
                <ul>
                <li><a href="/xc/581.html"  target="_blank">云南双飞6日游</a><span class="purple">
                  2180元/人		  </span></li><li><a href="/xc/579.html"  target="_blank">云南纯玩双飞6日游：花样旅途</a><span class="purple">
                  4180元/人		  </span></li><li><a href="/xc/580.html"  target="_blank">洱海慢时光：云南休闲纯玩6天游</a><span class="purple">
                  3680元/人		  </span></li><li><a href="/xc/576.html"  target="_blank">昆大丽纯玩双飞单动6日游：部落格</a><span class="purple">
                  3780元/人		  </span></li><li><a href="/xc/578.html"  target="_blank">昆明/大理/丽江纯玩6日游：超级玩家</a><span class="purple">
                  4080元/人		  </span></li><li><a href="/xc/577.html"  target="_blank">滇西贵族：昆明大理丽江双飞6日游</a><span class="purple">
                  3980元/人		  </span></li>
                </ul>
              </div><div class="cont_2_content bor_green float_le">
                <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/7.html" target="_blank">更多&gt;&gt;</a></span>海南旅游专卖店</h3>
                <ul>
                <li><a href="/xc/586.html"  target="_blank">醉美惠州 巽寮湾 双月湾双飞六天</a><span class="purple">
                  1999元/人		  </span></li><li><a href="/xc/510.html"  target="_blank">海南三亚双飞5日游</a><span class="purple">
                  1980元/人		  </span></li><li><a href="/xc/555.html"  target="_blank">海南双飞5日游王牌希尔顿</a><span class="purple">
                  3080元/人		  </span></li><li><a href="/xc/556.html"  target="_blank">三亚壹号双飞5日游</a><span class="purple">
                  4280元/人		  </span></li><li><a href="/xc/557.html"  target="_blank">三亚海景壹号双飞5日游</a><span class="purple">
                  3980元/人		  </span></li><li><a href="/xc/558.html"  target="_blank">三亚快乐无忧双飞5日游</a><span class="purple">
                  3280元/人		  </span></li>
                </ul>
              </div><div class="cont_2_content bor_green float_le">
                <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/9.html" target="_blank">更多&gt;&gt;</a></span>广西</h3>
                <ul>
                <li><a href="/xc/284.html"  target="_blank">钻石桂林纯玩双卧五日游</a><span class="purple">
                  1980元/人		  </span></li><li><a href="/xc/445.html"  target="_blank">臻品美食 亲子游、全陪团双卧5日</a><span class="purple">
                  2680元/人		  </span></li><li><a href="/xc/551.html"  target="_blank">桂林双卧6日游：遇见.灵动</a><span class="purple">
                  1280元/人		  </span></li><li><a href="/xc/552.html"  target="_blank">桂林双飞5日游：水悦.漓歌</a><span class="purple">
                  2280元/人		  </span></li><li><a href="/xc/553.html"  target="_blank">金品桂林双飞5日游</a><span class="purple">
                  2980元/人		  </span></li><li><a href="/xc/554.html"  target="_blank">桂林壹号双飞5日游</a><span class="purple">
                  3280元/人		  </span></li>
                </ul>
              </div><div class="cont_2_content bor_green float_le">
                <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/20.html" target="_blank">更多&gt;&gt;</a></span>华东</h3>
                <ul>
                <li><a href="/xc/583.html"  target="_blank">【至尊江南】双飞五日游0购物0自费</a><span class="purple">
                  2380元/人		  </span></li><li><a href="/xc/535.html"  target="_blank">五星苏沪杭双飞五日游</a><span class="purple">
                  2180元/人		  </span></li><li><a href="/xc/582.html"  target="_blank">华东双飞五日游0购物：江南竹海</a><span class="purple">
                  2180元/人		  </span></li><li><a href="/xc/563.html"  target="_blank">奇幻迪士尼双飞5日游</a><span class="purple">
                  2680元/人		  </span></li><li><a href="/xc/564.html"  target="_blank">【乌镇之夜】双飞五日游</a><span class="purple">
                  1980元/人		  </span></li><li><a href="/xc/565.html"  target="_blank">【忆江南】南京双飞六日游</a><span class="purple">
                  2680元/人		  </span></li>
                </ul>
              </div><div class="cont_2_content bor_green float_le">
                <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/21.html" target="_blank">更多&gt;&gt;</a></span>陕西</h3>
                <ul>
                <li><a href="/xc/113.html"  target="_blank">西安市内+华山双卧4日游</a><span class="purple">
                  2260元/人		  </span></li><li><a href="/xc/115.html"  target="_blank">西安市内+西线双卧4日游</a><span class="purple">
                  2280元/人		  </span></li><li><a href="/xc/439.html"  target="_blank">登华山、访西岳庙精品汽车两日游</a><span class="purple">
                  1080元/人		  </span></li><li><a href="/xc/121.html"  target="_blank">西安市内+东线+延安双卧6日游</a><span class="purple">
                  2680元/人		  </span></li><li><a href="/xc/119.html"  target="_blank">西安市内+东线+华山双卧5日游</a><span class="purple">
                  2480元/人		  </span></li><li><a href="/xc/118.html"  target="_blank">西安市内+东线+西线双卧5日游</a><span class="purple">
                  2490元/人		  </span></li>
                </ul>
              </div><div class="cont_2_content bor_green float_le">
                <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/22.html" target="_blank">更多&gt;&gt;</a></span>青海</h3>
                <ul>
                <li><a href="/xc/140.html"  target="_blank">青海湖、塔尔寺、互助、贵德双卧五日游</a><span class="purple">
                  2180元/人		  </span></li><li><a href="/xc/243.html"  target="_blank">青海三卧七日游</a><span class="purple">
                  2880元/人		  </span></li><li><a href="/xc/244.html"  target="_blank">青海湖三卧八日游</a><span class="purple">
                  3280元/人		  </span></li><li><a href="/xc/364.html"  target="_blank">大美青海+神奇宁夏6日游</a><span class="purple">
                  2480元/人		  </span></li><li><a href="/xc/367.html"  target="_blank">畅游西北五省专列十四日游</a><span class="purple">
                  2980元/人		  </span></li><li><a href="/xc/100.html"  target="_blank">青海 塞外江南双卧6日游</a><span class="purple">
                  2780元/人		  </span></li>
                </ul>
              </div>-->

        <style>
            .tcont_2_content {
                width: 310px;
                height: 150px;
                overflow: hidden;
                margin: 0 5px 5px 0;
            }

            *html .tcont_2_content {
                margin: 0 4px 5px 0;
            }

                .tcont_2_content ul {
                    width: 290px;
                    margin: 2px auto;
                }

                    .tcont_2_content ul li {
                        height: 26px;
                        line-height: 20px;
                        overflow: hidden;
                        list-style-type: square;
                    }

                        .tcont_2_content ul li span {
                            margin-left: 10px;
                        }

            .tab2 ul {
                margin: 0;
                padding: 0;
                width: 290px;
                list-style-type: none;
            }

            .tab2 li {
                width: 50px;
                float: left;
                text-align: center;
                color: #111111;
                font-weight: bold;
                cursor: pointer;
                position: relative;
                height: 24px;
                line-height: 24px;
                list-style-type: none;
            }

                .tab2 li.now {
                    color: #d72930;
                    font-weight: bold;
                    background-color: #ffffff;
                    color: #990000;
                }
        </style>
        <div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/8.html" target="_blank">更多&gt;&gt;</a></span>云南旅游专卖店</h3>
            <ul>
                <li>
                    <a href="/xc/581.html" target="_blank">云南双飞6日游</a><span class="purple">
                        2180元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/579.html" target="_blank">云南纯玩双飞6日游：花样旅途</a><span class="purple">
                        4180元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/580.html" target="_blank">洱海慢时光：云南休闲纯玩6天游</a><span class="purple">
                        3680元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/576.html" target="_blank">昆大丽纯玩双飞单动6日游：部落格</a><span class="purple">
                        3780元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/578.html" target="_blank">昆明/大理/丽江纯玩6日游：超级玩家</a><span class="purple">
                        4080元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/577.html" target="_blank">滇西贵族：昆明大理丽江双飞6日游</a><span class="purple">
                        3980元/人
                    </span>
                </li>
            </ul>
        </div><div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/7.html" target="_blank">更多&gt;&gt;</a></span>海南旅游专卖店</h3>
            <ul>
                <li>
                    <a href="/xc/586.html" target="_blank">醉美惠州 巽寮湾 双月湾双飞六天</a><span class="purple">
                        1999元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/510.html" target="_blank">海南三亚双飞5日游</a><span class="purple">
                        1980元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/555.html" target="_blank">海南双飞5日游王牌希尔顿</a><span class="purple">
                        3080元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/556.html" target="_blank">三亚壹号双飞5日游</a><span class="purple">
                        4280元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/557.html" target="_blank">三亚海景壹号双飞5日游</a><span class="purple">
                        3980元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/558.html" target="_blank">三亚快乐无忧双飞5日游</a><span class="purple">
                        3280元/人
                    </span>
                </li>
            </ul>
        </div>

        <div class="tcont_2_content bor_green float_le">
            <div class="tit_column_04 tit_c_10" id="J_goodsTab">
                <ul id="test3" class="tab2">
                    <li class="now"><a href="/xclist/9.html" target="_blank">广西</a></li>
                    <li><a href="/xclist/20.html" target="_blank">华东</a></li>
                    <li><a href="/xclist/21.html" target="_blank">陕西</a></li>
                    <li><a href="/xclist/22.html" target="_blank">青海</a></li>
                    <li><a href="/xclist/23.html" target="_blank">宁夏</a></li>
                </ul>
            </div>
            <div class="clearfix newChannel-list" id="J_goodsTabContent">

                <div id="test3_1" class="cont_2_content block" style="display: block;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/284.html" target="_blank">钻石桂林纯玩双卧五日游</a><span class="purple">
                                1980元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/445.html" target="_blank">臻品美食 亲子游、全陪团双卧5日</a><span class="purple">
                                2680元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/551.html" target="_blank">桂林双卧6日游：遇见.灵动</a><span class="purple">
                                1280元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/552.html" target="_blank">桂林双飞5日游：水悦.漓歌</a><span class="purple">
                                2280元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/553.html" target="_blank">金品桂林双飞5日游</a><span class="purple">
                                2980元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/554.html" target="_blank">桂林壹号双飞5日游</a><span class="purple">
                                3280元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test3_2" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/583.html" target="_blank">【至尊江南】双飞五日游0购物0自费</a><span class="purple">
                                2380元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/535.html" target="_blank">五星苏沪杭双飞五日游</a><span class="purple">
                                2180元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/582.html" target="_blank">华东双飞五日游0购物：江南竹海</a><span class="purple">
                                2180元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/563.html" target="_blank">奇幻迪士尼双飞5日游</a><span class="purple">
                                2680元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/564.html" target="_blank">【乌镇之夜】双飞五日游</a><span class="purple">
                                1980元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/565.html" target="_blank">【忆江南】南京双飞六日游</a><span class="purple">
                                2680元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test3_3" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/113.html" target="_blank">西安市内+华山双卧4日游</a><span class="purple">
                                2260元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/115.html" target="_blank">西安市内+西线双卧4日游</a><span class="purple">
                                2280元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/439.html" target="_blank">登华山、访西岳庙精品汽车两日游</a><span class="purple">
                                1080元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/121.html" target="_blank">西安市内+东线+延安双卧6日游</a><span class="purple">
                                2680元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/119.html" target="_blank">西安市内+东线+华山双卧5日游</a><span class="purple">
                                2480元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/118.html" target="_blank">西安市内+东线+西线双卧5日游</a><span class="purple">
                                2490元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test3_4" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/140.html" target="_blank">青海湖、塔尔寺、互助、贵德双卧五日游</a><span class="purple">
                                2180元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/243.html" target="_blank">青海三卧七日游</a><span class="purple">
                                2880元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/244.html" target="_blank">青海湖三卧八日游</a><span class="purple">
                                3280元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/364.html" target="_blank">大美青海+神奇宁夏6日游</a><span class="purple">
                                2480元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/367.html" target="_blank">畅游西北五省专列十四日游</a><span class="purple">
                                2980元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/100.html" target="_blank">青海 塞外江南双卧6日游</a><span class="purple">
                                2780元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test3_5" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/238.html" target="_blank">宁夏双卧四日游</a><span class="purple">
                                2650元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/239.html" target="_blank">宁夏双卧五日游</a><span class="purple">
                                2080元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/240.html" target="_blank">青海/宁夏三卧七日游</a><span class="purple">
                                2680元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/241.html" target="_blank">青海/宁夏三卧8日游</a><span class="purple">
                                2980元/人
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="tcont_2_content bor_green float_le">
            <div class="tit_column_04 tit_c_10" id="J_goodsTab">
                <ul id="test4" class="tab2">
                    <li class="now"><a href="/xclist/10.html" target="_blank">四川</a></li>
                    <li><a href="/xclist/32.html" target="_blank">新疆</a></li>
                    <li><a href="/xclist/33.html" target="_blank">西藏</a></li>
                    <li><a href="/xclist/34.html" target="_blank">安徽</a></li>
                    <li><a href="/xclist/35.html" target="_blank">福建</a></li>
                </ul>
            </div>
            <div class="clearfix newChannel-list" id="J_goodsTabContent">

                <div id="test4_1" class="cont_2_content block" style="display: block;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/221.html" target="_blank">峨眉山乐山纯玩6日游</a><span class="purple">
                                3490元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/256.html" target="_blank">成都九寨沟牟尼沟双卧六日游</a><span class="purple">
                                3580元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/257.html" target="_blank">成都九寨沟牟尼沟双飞四日游</a><span class="purple">
                                4800元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/327.html" target="_blank">西安九寨黄龙双飞5日游</a><span class="purple">
                                3580元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/369.html" target="_blank">B线《成都老街、都江堰、乐山、峨眉山、宜宾蜀南竹海、山城重庆、武隆天坑、宜昌三峡专列11日游》</a><span class="purple">
                                4980元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/368.html" target="_blank">A线《成都老街、都江堰、新映秀、乐山、峨眉山、人间天堂九寨沟、山城重庆、武隆天坑、宜昌三峡专列11日游》</a><span class="purple">
                                4880元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test4_2" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/264.html" target="_blank">乌市天池吐鲁番沙漠楼兰双卧7日游</a><span class="purple">
                                4600元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/267.html" target="_blank">新疆旅游注意事项</a><span class="purple">
                                现询价
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/268.html" target="_blank">新疆必去的十一个旅游景点</a><span class="purple">
                                现询价
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/266.html" target="_blank">乌鲁木齐天池吐鲁番沙漠胡杨林双卧十日</a><span class="purple">
                                5590元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/373.html" target="_blank">金秋漫步邂逅胡杨双卧七日游（摄影主题线路）</a><span class="purple">
                                5680元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test4_3" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/495.html" target="_blank">西藏全景+大峡谷12天（全陪团）</a><span class="purple">
                                4799元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/496.html" target="_blank">西藏全景双卧12天</a><span class="purple">
                                4680元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/261.html" target="_blank">拉萨布达拉宫林芝双卧9日游</a><span class="purple">
                                5680元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/262.html" target="_blank">拉萨布宫日喀则林芝双卧11日</a><span class="purple">
                                5860元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/497.html" target="_blank">西藏四星+五星双卧11天</a><span class="purple">
                                5280元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/260.html" target="_blank">西藏林芝桃花节双卧9日游</a><span class="purple">
                                5260元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test4_4" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/136.html" target="_blank"> 黄山西递宏村空调双卧六日游</a><span class="purple">
                                1680元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/137.html" target="_blank">黄山千岛湖往返双卧六日游</a><span class="purple">
                                1660元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/138.html" target="_blank">黄山九华山往返双卧六日游</a><span class="purple">
                                1980元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/225.html" target="_blank">黄山空调双卧五日游</a><span class="purple">
                                1580元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/233.html" target="_blank">九华山双卧四日游</a><span class="purple">
                                2280元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/505.html" target="_blank">黄山千岛湖杭州双卧七日游</a><span class="purple">
                                2860元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test4_5" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/540.html" target="_blank">【舌尖厦门懒人行】双飞4日游</a><span class="purple">
                                3180元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/484.html" target="_blank">【魅力厦门】厦门鼓浪屿双飞五日游</a><span class="purple">
                                3080元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/566.html" target="_blank">【海天盛厦】双飞5日游</a><span class="purple">
                                3080元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/567.html" target="_blank">【情迷鼓浪屿】双飞五日游</a><span class="purple">
                                2880元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/568.html" target="_blank">【夏至未至】双飞5日游</a><span class="purple">
                                3080元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/569.html" target="_blank">【畅玩一厦】厦门双飞5日游</a><span class="purple">
                                2880元/人
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="tcont_2_content bor_green float_le">
            <div class="tit_column_04 tit_c_10" id="J_goodsTab">
                <ul id="test5" class="tab2">
                    <li class="now"><a href="/xclist/11.html" target="_blank">北京</a></li>
                    <li><a href="/xclist/28.html" target="_blank">东北</a></li>
                    <li><a href="/xclist/29.html" target="_blank">河北</a></li>
                    <li><a href="/xclist/30.html" target="_blank">内蒙</a></li>
                    <li><a href="/xclist/31.html" target="_blank">山西</a></li>
                </ul>
            </div>
            <div class="clearfix newChannel-list" id="J_goodsTabContent">

                <div id="test5_1" class="cont_2_content block" style="display: block;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/131.html" target="_blank">北京纯玩超值双卧5日游</a><span class="purple">
                                1280元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/448.html" target="_blank">北京品味五星双卧五日游</a><span class="purple">
                                1580元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/401.html" target="_blank">北京纯玩精华双卧五日游</a><span class="purple">
                                1660元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/402.html" target="_blank">北京纯玩精华去飞五日游</a><span class="purple">
                                1680元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/400.html" target="_blank">北京深度全景双卧五日游</a><span class="purple">
                                1880元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/449.html" target="_blank">夏令营：北京去高回卧六日游</a><span class="purple">
                                2280元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test5_2" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/70.html" target="_blank">哈尔滨满洲里呼伦贝尔四卧7日游 </a><span class="purple">
                                2980元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/106.html" target="_blank">北戴河大连旅顺金石滩双卧八日游</a><span class="purple">
                                1860元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/440.html" target="_blank">东北大青沟草原沙漠孝庄园双卧6日全陪</a><span class="purple">
                                2280元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/442.html" target="_blank">海拉尔呼伦贝尔草原满洲里室韦根河湿地双飞6日游</a><span class="purple">
                                5280元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/362.html" target="_blank">哈尔滨海拉尔满洲里呼伦贝尔草原双卧七日</a><span class="purple">
                                2880元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/391.html" target="_blank">哈尔滨、漠河、北极村空调双卧8日游</a><span class="purple">
                                2760元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test5_3" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/107.html" target="_blank">山海关、南北戴河双卧5日游</a><span class="purple">
                                2260元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/103.html" target="_blank">南北戴河、秦皇岛空调双卧四日游</a><span class="purple">
                                1660元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/452.html" target="_blank">秦皇岛、南北戴河、山海关纯玩五日游</a><span class="purple">
                                1860元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/253.html" target="_blank">承德坝上草原双卧六日游</a><span class="purple">
                                1760元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/251.html" target="_blank">山海关、南北戴河+承德双卧六日游</a><span class="purple">
                                1620元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/332.html" target="_blank">北戴河承德双卧6日游 （特惠）</a><span class="purple">
                                1580元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test5_4" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/95.html" target="_blank">希拉穆仁草原—神奇响沙湾—魅力青城双飞4日游</a><span class="purple">
                                2260元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/271.html" target="_blank">希拉穆仁草原  银肯响沙湾 魅力青城六日游</a><span class="purple">
                                2680元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/357.html" target="_blank">希拉穆仁大草原、蒙牛探秘、沙坡头、通湖、西部影视城、回乡文化园6日游</a><span class="purple">
                                2680元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/363.html" target="_blank">呼伦贝尔草原双飞六日</a><span class="purple">
                                5880元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/72.html" target="_blank">魅力青城  天堂草原  神秘成陵双卧往返七日游</a><span class="purple">
                                2860元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/432.html" target="_blank"> 魅力青城 天堂草原往返六日游</a><span class="purple">
                                2680元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test5_5" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/125.html" target="_blank">五台山云冈石窟双卧5日游</a><span class="purple">
                                1380元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/255.html" target="_blank">平遥乔家大院晋商文化双卧五日游</a><span class="purple">
                                1180元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/254.html" target="_blank">五台山双卧五日游</a><span class="purple">
                                1080元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/245.html" target="_blank">平遥乔家双卧四日游</a><span class="purple">
                                3980元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/426.html" target="_blank">壶口瀑布大槐树王家晋祠双卧五日游</a><span class="purple">
                                3180元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/352.html" target="_blank">绵山双卧四日游</a><span class="purple">
                                3980元/人
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="tcont_2_content bor_green float_le">
            <div class="tit_column_04 tit_c_10" id="J_goodsTab">
                <ul id="test6" class="tab2">
                    <li class="now"><a href="/xclist/12.html" target="_blank">湖南</a></li>
                    <li><a href="/xclist/24.html" target="_blank">湖北</a></li>
                    <li><a href="/xclist/25.html" target="_blank">江西</a></li>
                    <li><a href="/xclist/26.html" target="_blank">山东</a></li>
                    <li><a href="/xclist/27.html" target="_blank">贵州</a></li>
                </ul>
            </div>
            <div class="clearfix newChannel-list" id="J_goodsTabContent">

                <div id="test6_1" class="cont_2_content block" style="display: block;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/51.html" target="_blank">张家界一地</a><span class="purple">
                                1280元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/531.html" target="_blank">长沙、韶山、岳阳双卧5日</a><span class="purple">
                                2480元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/528.html" target="_blank">张家界、袁家界、大峡谷玻璃桥双卧5日</a><span class="purple">
                                1880元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/527.html" target="_blank">张家界、袁家界、天门山双卧5日</a><span class="purple">
                                1550元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/302.html" target="_blank">张家界、袁家界、金鞭溪、凤凰古城品质五日游</a><span class="purple">
                                1280元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/524.html" target="_blank">张家界.凤凰双飞5日游（全陪团）</a><span class="purple">
                                2480元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test6_2" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/473.html" target="_blank">三峡大坝+三峡人家4日游</a><span class="purple">
                                3180元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/469.html" target="_blank">问道武当山3日游</a><span class="purple">
                                2880元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/474.html" target="_blank">重庆、武隆仙女山、天坑三桥、芙蓉洞6日游</a><span class="purple">
                                3680元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/470.html" target="_blank">重庆、三峡、宜昌5日游</a><span class="purple">
                                3880元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/472.html" target="_blank">三峡大坝+清江画廊4日游</a><span class="purple">
                                3180元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/471.html" target="_blank">重庆三峡宜昌【超五星黄金游轮】6日游</a><span class="purple">
                                3990元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test6_3" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/220.html" target="_blank">庐山三叠泉双卧四日游</a><span class="purple">
                                3190元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test6_4" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/307.html" target="_blank">青岛、日照汽车特惠四日游</a><span class="purple">
                                299元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/485.html" target="_blank">蓬莱，威海，烟台双飞四日休闲游</a><span class="purple">
                                2380元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/427.html" target="_blank">青岛日照纯玩汽车四日游</a><span class="purple">
                                398元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/408.html" target="_blank"> 泰山日出汽车两日游</a><span class="purple">
                                399元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/124.html" target="_blank">泰山 曲阜 济南双卧五日游</a><span class="purple">
                                2490元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/123.html" target="_blank">台儿庄微山湖两日游</a><span class="purple">
                                1399元/人
                            </span>
                        </li>
                    </ul>
                </div>

                <div id="test6_5" class="cont_2_content block" style="display: none;">
                    <ul>
                        <li style="height:20px;">
                            <a href="/xc/223.html" target="_blank">黄果树瀑布·织金洞、遵义会址·息烽集中营·花溪湿地公园、甲秀楼8日游</a><span class="purple">
                                2480元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/224.html" target="_blank">贵州美味·黄果树瀑布·西江千户苗寨·荔波小七孔品质8日游</a><span class="purple">
                                2290元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/222.html" target="_blank">黄果树  西江千户苗寨 双卧六日游</a><span class="purple">
                                1980元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/226.html" target="_blank">黄果树  梵净山  云舍  双卧七日游</a><span class="purple">
                                2160元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/229.html" target="_blank">黄果树 西江千户苗寨 天河潭 青岩古镇 花溪湿地双卧七日游</a><span class="purple">
                                2380元/人
                            </span>
                        </li>
                        <li style="height:20px;">
                            <a href="/xc/230.html" target="_blank">黄果树  遵义  息烽集中营双卧六日游</a><span class="purple">
                                2880元/人
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="clear"></div>
    </div>
</div>
<ul class="cont_3">
    <li><a href="http://www.khlykf.com" target="_blank"><img src="/upload/201806/5b2b20d94e25b.jpg" width="315" height="150"></a></li>
    <li><a href="http://www.khlykf.com/xc/62.html" target="_blank"><img src="/upload/201811/5be392ecc6b16.jpg" width="315" height="150"></a></li>
    <li class="margin_ri_none"><a href="http://www.khlykf.com" target="_blank"><img src="/upload/201811/5be397ac8fbfe.jpg" width="315" height="150"></a></li>
</ul>
<div class="clear"></div>
<div class="cont_2">
    <div class="tit_column_4 tit_c_10">
        <h3 class="tit_column_3 tit_c_09">出境线路</h3>
        <p class="bor_green">
            <span class="float_ri"><a href="/xclist/3.html" target="_blank">更多&gt;&gt;</a></span>
            当前位置：河南省 - 郑州市&nbsp;&nbsp;&nbsp;&nbsp;订单数：<em class="red">68</em>份　
            <b class="red">24小时电话：     0371- 6131  2781    多线       </b>
        </p>
        <div class="clear"></div>
    </div>
    <div class="cont_2_cont bor_green">
        <div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/13.html" target="_blank">更多&gt;&gt;</a></span>港.澳.台</h3>
            <ul>
                <li>
                    <a href="/xc/278.html" target="_blank">常规港澳---特惠双园五日游</a><span class="purple">
                        3280元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/463.html" target="_blank">台湾美食环岛八日游</a><span class="purple">
                        5880元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/195.html" target="_blank">游台湾、送香港九日游</a><span class="purple">
                        3680元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/90.html" target="_blank">台湾环岛8日游</a><span class="purple">
                        4280元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/92.html" target="_blank">纯玩港澳五晚六天游</a><span class="purple">
                        3880元/人
                    </span>
                </li>
            </ul>
        </div><div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/14.html" target="_blank">更多&gt;&gt;</a></span>海岛度假游</h3>
            <ul>
                <li>
                    <a href="/xc/486.html" target="_blank">甲米普吉六日游</a><span class="purple">
                        3580元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/380.html" target="_blank">斯米兰甲米·普吉7天5晚</a><span class="purple">
                        5680元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/574.html" target="_blank">独墅巴厘-独墅华美达八天六晚</a><span class="purple">
                        6280元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/418.html" target="_blank">绝美【甲米·普吉】-七天五晚</a><span class="purple">
                        5480元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/550.html" target="_blank">玩转巴厘岛双飞8日游</a><span class="purple">
                        3880元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/575.html" target="_blank">私人订制--巴厘岛</a><span class="purple">
                        9880元/人
                    </span>
                </li>
            </ul>
        </div><div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/15.html" target="_blank">更多&gt;&gt;</a></span>东南亚.日.韩</h3>
            <ul>
                <li>
                    <a href="/xc/560.html" target="_blank">舌尖上的泰国</a><span class="purple">
                        4280元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/487.html" target="_blank">泰国双飞6日游</a><span class="purple">
                        1980元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/548.html" target="_blank">新加坡马来西亚六日游：云顶新马</a><span class="purple">
                        4280元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/494.html" target="_blank">逐梦倾新-新加坡马来西亚6天4晚</a><span class="purple">
                        3680元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/549.html" target="_blank">泰国曼谷+芭提雅6日游：遇见希尔顿</a><span class="purple">
                        3980元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/561.html" target="_blank">泰国爱尚沙美岛双飞6日游</a><span class="purple">
                        3980元/人
                    </span>
                </li>
            </ul>
        </div><div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/16.html" target="_blank">更多&gt;&gt;</a></span>欧洲</h3>
            <ul>
                <li>
                    <a href="/xc/585.html" target="_blank">德法意瑞12天一价全含</a><span class="purple">
                        12500元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/42.html" target="_blank">希腊+法意瑞双飞13日游</a><span class="purple">
                        13800元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/44.html" target="_blank">英国一地双飞7日游</a><span class="purple">
                        12800元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/46.html" target="_blank">法国意大利瑞士升级双飞12日游</a><span class="purple">
                        13800元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/43.html" target="_blank">法意瑞双飞10日游</a><span class="purple">
                        14200元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/45.html" target="_blank">英国+法意瑞双飞11日游</a><span class="purple">
                        18800元/人
                    </span>
                </li>
            </ul>
        </div><div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/17.html" target="_blank">更多&gt;&gt;</a></span>澳洲.美洲</h3>
            <ul>
                <li>
                    <a href="/xc/108.html" target="_blank">澳大利亚凯恩斯8日品质游 </a><span class="purple">
                        9900元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/117.html" target="_blank">澳大利亚一地8日游 </a><span class="purple">
                        8900元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/198.html" target="_blank">美国东西海岸夏威夷14天（含大瀑布）</a><span class="purple">
                        19000元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/199.html" target="_blank">加拿大东西海岸12日游</a><span class="purple">
                        26100元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/203.html" target="_blank">美国东西海岸夏威夷布法罗14日游</a><span class="purple">
                        19600元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/398.html" target="_blank">夏威夷5晚8日 双岛自由行</a><span class="purple">
                        11200元/人
                    </span>
                </li>
            </ul>
        </div><div class="cont_2_content bor_green float_le">
            <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/18.html" target="_blank">更多&gt;&gt;</a></span>南非.迪拜.埃及.土耳其</h3>
            <ul>
                <li>
                    <a href="/xc/65.html" target="_blank">迪拜豪华六日游</a><span class="purple">
                        9600元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/522.html" target="_blank">埃及双海风情8日游</a><span class="purple">
                        7999元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/521.html" target="_blank">埃及全景探秘8日游</a><span class="purple">
                        7999元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/62.html" target="_blank">迪拜常规五日游</a><span class="purple">
                        5800元/人
                    </span>
                </li>
                <li>
                    <a href="/xc/56.html" target="_blank">南非迪拜豪华十日游</a><span class="purple">
                        15900元/人
                    </span>
                </li>
            </ul>
        </div>      <div class="clear"></div>
    </div>
</div>
<ul class="cont_3">
    <li><a href="http://www.khlykf.com/xclist/19.html" target="_blank"><img src="/upload/201706/593a56f89c4b7.jpg" width="315" height="150"></a></li>
    <li><a href="http://www.khlykf.com/" target="_blank"><img src="/upload/201811/5be39a606b44b.jpg" width="315" height="150"></a></li>
    <li class="margin_ri_none"><a href="http://www.khlykf.com/" target="_blank"><img src="/upload/201903/5c7dce209c0d9.jpg" width="315" height="150"></a></li>
</ul>
<div class="clear"></div>
<div class="cont_2_cont cont_4">



    <div class="cont_2_content bor_green float_le">
        <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/newslist/5.html" target="_blank">更多&gt;&gt;</a></span>会议接待</h3>
        <ul>
            <li><a href="/news/2.html" target="_blank">会议接待方案</a></li>
            <li><a href="/news/4.html" target="_blank">会议接待流程方案</a></li>
            <li><a href="/news/30.html" target="_blank">会场布置</a></li>
            <li><a href="/news/32.html" target="_blank">会议考察 </a></li>
            <li><a href="/news/33.html" target="_blank">会议室灯光设计与光线要求</a></li>
            <li><a href="/news/34.html" target="_blank">会议场所类别</a></li>

        </ul>
    </div>
    <div class="cont_2_content bor_green float_le">
        <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/newslist/7.html" target="_blank">更多&gt;&gt;</a></span>拓展培训</h3>
        <ul>
            <li><a href="/news/22.html" target="_blank">拓展课程简介</a></li>
            <li><a href="/news/23.html" target="_blank">杨树沟CS实战</a></li>
            <li><a href="/news/26.html" target="_blank">重渡沟拓展两日游</a></li>
            <li><a href="/news/27.html" target="_blank">禹州白沙湖拓展培训二日游</a></li>
            <li><a href="/news/29.html" target="_blank">养子沟3天2晚拓展培训</a></li>
            <li><a href="/news/31.html" target="_blank">拓展培训基础知识</a></li>

        </ul>
    </div>
    <div class="cont_2_content bor_green float_le">
        <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/6.html" target="_blank">更多&gt;&gt;</a></span>河南地接</h3>
        <ul>
            <li>
                <a href="/xc/86.html" target="_blank">少林寺、开封、洛阳2日游</a><span class="purple">
                    728元/人
                </span>
            </li>
            <li>
                <a href="/xc/87.html" target="_blank">少林寺龙门石窟白马寺云台山3日游</a><span class="purple">
                    980元/人
                </span>
            </li>
            <li>
                <a href="/xc/290.html" target="_blank">少林寺、洛阳牡丹、龙门石窟、开封、三日游</a><span class="purple">
                    988元/人
                </span>
            </li>
            <li>
                <a href="/xc/326.html" target="_blank">少林寺龙门石窟+云台山3日游</a><span class="purple">
                    850元/人
                </span>
            </li>
            <li>
                <a href="/xc/480.html" target="_blank">河南全景五日游</a><span class="purple">
                    1550元/人
                </span>
            </li>
        </ul>
    </div>

    <div class="cont_2_content bor_green float_le">
        <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/newslist/6.html" target="_blank">更多&gt;&gt;</a></span>代订服务</h3>
        <ul>
            <li><a href="/news/20.html" target="_blank">代订大宋东京梦华门票</a></li>
            <li><a href="/news/19.html" target="_blank">代订禅宗音乐大典门票</a></li>
            <li><a href="/news/21.html" target="_blank">代订大河秀典门票</a></li>
            <li><a href="/news/24.html" target="_blank">代订郑州方特乐园门票</a></li>
            <li><a href="/news/25.html" target="_blank">代订养子沟门票</a></li>
            <li><a href="/news/60.html" target="_blank">代订长隆主题公园各类门票</a></li>
        </ul>
    </div>
    <div class="cont_2_content bor_green float_le">
        <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/xclist/19.html" target="_blank">更多&gt;&gt;</a></span>签证服务</h3>
        <ul>
            <li>
                <a href="/xc/141.html" target="_blank">澳大利亚旅游签证服务</a><span class="purple">
                    1850元/人
                </span>
            </li>
            <li>
                <a href="/xc/146.html" target="_blank">德国签证所需资料</a><span class="purple">
                    1600元/人
                </span>
            </li>
            <li>
                <a href="/xc/143.html" target="_blank">大陆地区居民赴台湾旅游所需资料</a><span class="purple">
                    560元/人
                </span>
            </li>
            <li>
                <a href="/xc/142.html" target="_blank">澳大利亚探亲签证</a><span class="purple">
                    1850元/人
                </span>
            </li>
            <li>
                <a href="/xc/144.html" target="_blank">郑州户口市民如何办理港澳通行证</a><span class="purple">
                    200元/人
                </span>
            </li>
            <li>
                <a href="/xc/145.html" target="_blank">日本签证所需资料</a><span class="purple">
                    1250元/人
                </span>
            </li>
        </ul>
    </div>
    <div class="cont_2_content bor_green float_le">
        <h3 class="tit_column_04 tit_c_10"><span class="float_ri"><a href="/newslist/1.html" target="_blank">更多&gt;&gt;</a></span>旅游常识.资讯</h3>
        <ul>
            <li><a href="/news/1.html" target="_blank">如痴如醉的美景一场绮丽的梦—记九寨沟黄龙</a></li>
            <li><a href="/news/5.html" target="_blank">云南旅游须知</a></li>
            <li><a href="/news/7.html" target="_blank">湖南旅游注意事项</a></li>
            <li><a href="/news/8.html" target="_blank">冬季去海南旅游的注意事项</a></li>
            <li><a href="/news/9.html" target="_blank">巴厘岛旅游注意事项 </a></li>
            <li><a href="/news/10.html" target="_blank"> 韩国旅游须知</a></li>

        </ul>
    </div>


    <div class="clear"></div>
</div>

@section Scripts{
    <script src="~/js/tab.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            //tab
            new tab('test3_li_now_', '_', null, 'onmouseover');
            new tab('test4_li_now_', '_', null, 'onmouseover');
            new tab('test5_li_now_', '_', null, 'onmouseover');
            new tab('test6_li_now_', '_', null, 'onmouseover');
        })
    </script>
}