# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
ymapp-aspnet-core/src/YMApp.Web.Host/App_Data/Logs/
ymapp-aspnet-core/src/YMApp.Web.Mvc/App_Data/Logs/
ymapp-aspnet-core/src/YMApp.Migrator/Logs/Logs.txt
