@model YMApp.Web.Admin.Models.Category.CategoryIndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categorys = Model.Categorys;
}

@section scripts{
    <script src="/view-resources/views/category/index.js" asp-append-version="true" type="text/javascript"></script>
}
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                <div class="layui-input-inline layui-show-xs-block">
                    <button class="layui-btn" onclick="xadmin.open('编辑分类','/category/edit','600','400')"><i class="layui-icon"></i>增加</button>
                </div>
                <div class="layui-input-inline layui-show-xs-block">
                    <button class="layui-btn" id="btn-expand">全部展开</button>
                </div>
                <div class="layui-input-inline layui-show-xs-block">
                    <button class="layui-btn" id="btn-fold">全部折叠</button>
                </div>
                <div class="layui-input-inline layui-show-xs-block">
                    <input class="layui-input" placeholder="分类名" id="name">
                </div>
                <div class="layui-input-inline layui-show-xs-block">
                    <button class="layui-btn" id="btn-search"><i class="layui-icon"></i>搜索</button>
                </div>

            </div>
            <div class="layui-card-body ">
                <table id="list" class="layui-table" lay-filter="table"></table>
                <script type="text/html" id="oper-col">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>

        </div>
    </div>
</div>

