@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif, '宋体'
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	color: #333;
	background: #f9f9f9 url(../images/bg.gif) center top no-repeat;
}
dl, dt, dd, ol, ul, li {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 12px;
	font-weight: normal;
}
input, button, textarea, select {
	font: 100% Arial, '宋体';
}

img {
	border: 0px;
	vertical-align: middle;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #990000;
	text-decoration: underline;
}
.hide {
	display: none;
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.float_le {
	float: left;
}
.float_ri {
	float: right;
}
.red {
	color: #c9252e;
}
.purple {
	color: #990099;
}
.orange {
	color: #ff6600;
}
.orange2 {
	color: #ff6600;
	font-size: 25px;
	margin: 0 2px;
}
.blue {
	color: #3366cc;
}
/*顶部*/
.head {
	background: #f5f5f5;
	height: 22px;
	width: 100%;
	border-bottom: solid 1px #dcdcdc;
	line-height: 22px;
	margin: 0 auto;
}
.head p {
	width: 960px;
	margin: 0 auto;
	text-align: right;
	color: #666;
}
.head p a {
	color: #666;
}
.head p a:hover {
	text-decoration: none;
}
.top {
	height: 152px;
	margin: 0 auto;
}
.top .float_le {
	width: 428px;
}
.top .float_ri {
	width: 532px;
}
.nav {
	width: 100%;
	margin: 0 auto;
	background: url(../images/nav_bg.gif) repeat-x;
	height: 42px;
}
.nav .menu {
	width: 1010px;
	margin: 0 auto;
	padding-top: 5px;
}
.menu ul {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
}
/*.menu ul li {
	float: left;
	position: relative;
}*/
.menu ul li {float: left;position: relative; z-index:99;}

.menu ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 87px;
	height: 31px;
	color: #fff;
	line-height: 31px;
	font-size: 14px;
	padding: 0 1px;
}
.menu ul li a:visited {
	border: 1px solid #4da103;
	border-width: 1px 1px 0 1px;
}
.menu ul li ul {
	display: none;
}
.menu ul li:hover a {
	color: #ff7700;
	background: url(../images/nav_bg3.gif) left top repeat-x;
	border: solid 1px #4da103;
	border-width: 1px 1px 0 1px;
	width: 85px;
}
.menu ul li:hover ul {
	display: block;
	position: absolute;
	top: 31px;
	left: 0;
	border-bottom: solid 1px #4da103;
	z-index: 10;
}
.menu ul li:hover ul li a {
	display: block;
	background: #fff;
	color: #3d8f00;
	border: 1px solid #4da103;
	border-width: 0 1px 0 1px;
	border-bottom: dashed 1px #e1e1e1;
	font-size: 12px;
	line-height: 25px;
	height: 25px;
}
.menu ul li:hover ul li a:hover {
	background: #fff;
	color: #ff7700;
}
/*[if lte IE 6]*/
*html .nav table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}
*html .menu ul li a.hide, .menu ul li a:visited.hide {
	display: none;
}
*html .menu ul li a {
	width: 87px;
	border: none !important;
}
*html .menu ul li a:hover {
	color: #ff7700;
	background: url(../images/nav_bg3.gif) left top repeat-x;
	border: solid 1px #4da103 !important;
	border-width: 1px 1px 0 1px;
	width: 85px;
}
*html .menu ul li a:hover ul {
	display: block;
	position: absolute;
	top: 31px;
	left: 0;
	border-bottom: solid 1px #4da103;
}
*html .menu ul li a:hover ul li a {
	background: #fff;
	color: #3d8f00;
	border: 1px solid #4da103 !important;
	border-width: 0 1px 0 1px;
	border-bottom: dashed 1px #e1e1e1 !important;
	font-size: 12px;
	line-height: 25px;
	height: 25px;
	margin: 0 auto;
	width: 85px;
}
*html .menu ul li a:hover ul li a:hover {
	background: #fff;
	color: #ff7700;
}
/*[endif]*/


.content {
	background: #fff;
	width: 960px;
	margin: 0 auto;
	padding: 5px 0 0 0;
}
*html .content {
	width: 960px;
	overflow: hidden;
}
.bor_orange {
	border: solid 1px #fec557;
}
.bor_pink {
	border: solid 1px #e49392;
}
.bor_purple {
	border: solid 1px #e39de5;
}
.bor_green {
	border: solid 1px #13c609;
}
.bor_blue {
	border: solid 1px #72a0db;
}
.tit_column_01 {
	background: url(../images/column_01.gif) repeat-x;
	height: 26px;
	line-height: 26px;
	text-indent: 1em;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
.tit_column_02 {
	background: url(../images/column_02.gif) repeat-x;
	height: 22px;
	line-height: 22px;
	text-indent: 1em;
	font-weight: bold;
	color: #666;
}
.tit_column_4 {
	height: 26px;
	line-height: 26px;
}
.tit_c_04 {
	background: url(../images/column_04.gif) repeat-x;
}
.tit_c_06 {
	background: url(../images/column_06.gif) repeat-x;
}
.tit_c_08 {
	background: url(../images/column_08.gif) repeat-x;
}
.tit_c_10 {
	background: url(../images/column_10.gif) repeat-x;
}
.tit_c_11 {
	background: url(../images/column_11.gif) repeat-x;
}
.tit_column_3 {
	width: 120px;
	text-align: center;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
.tit_c_03 {
	background: url(../images/column_03.gif) repeat-x;
}
.tit_c_05 {
	background: url(../images/column_05.gif) repeat-x;
}
.tit_c_07 {
	background: url(../images/column_07.gif) repeat-x;
}
.tit_c_09 {
	background: url(../images/column_09.gif) repeat-x;
}
.tit_column_4 p {
	float: left;
	border-width: 1px 1px 1px 0;
	padding: 0 10px;
	height: 24px;
	width: 819px;
}
*html .tit_column_4 p {
	line-height: 24px;
}
.tit_column_4 p em {
	font-style: normal;
	margin-right: 3px;
}
.tit_column_4 p b {
	margin-left: 20px;
}
.tit_column_04 {
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: bold;
}
.tit_column_04 span {
	font-size: 12px;
	font-weight: normal;
}
.cont_1 {
	margin: 0 auto;
	width: 956px;
	overflow: hidden;
}
.cont_1_left {
	width: 225px;
}
.cont_1_right {
	width: 725px;
}
.aboutus {
	width: 223px;
	margin-bottom: 6px;
}
.aboutus ul {
	width: 210px;
	margin: 5px auto;
}
.aboutus ul li {
	background: url(../images/icon_01.gif) 0 7px no-repeat;
	text-indent: 8px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
}
.aboutus ul li a {
	color: #d20000;
}



.contact {
	width: 223px;
}
.cont_1_contact_ul1 {
	width: 220px;
	margin: 5px auto;
}
.cont_1_contact_ul1 li {
	width: 107px;
	padding-left: 3px;
	float: left;
	color: #666;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	font-weight: bold;
}
.cont_1_contact_ul2 {
	margin: 12px auto 0 auto;
	width: 200px;
}
.cont_1_contact_ul2 li {
	width: 86px;
	float: left;
	height: 25px;
	line-height: 25px;
	margin-right: 4px;
}
.cont_1_contact_ul2s {
	margin: 12px auto 0 auto;
	width:240px;
	height:64px;
}
.cont_1_contact_ul2s li {
	width: 120px;
	float: left;
	height: 25px;
	line-height: 25px;
	margin-right: 4px;
}

/*.cont_1_contact_ul2 li a {
	width: 46px;
	display: block;
}*/
.cont_1_contact_ul2 li a {width:90px;display: block;}
.kfqq1 {
	background: url(../images/kfqq_1.gif) right top no-repeat;
}
.kfqq2 {
	background: url(../images/kfqq_2.gif) right top no-repeat;
}
.kfqq3 {
	background: url(../images/kfqq_3.gif) right top no-repeat;
}
.kfqq4 {
	background: url(../images/kfqq_4.gif) right top no-repeat;
}


.contacts{width: 223px;height:46px; margin-left:2px;}
.contacts p {
	margin: 8px auto;
	width: 210px;
	color: #000000;
}



/*首页右侧焦点图广告*/
.header {
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.header {
	height: 245px;
}
.gg {
	width: 100%;
	height: 245px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin: 0 auto;
}
.ggs {
	width: 200%;
	height: 245px;
	left: -50%;
	top: 0;
	position: absolute;
}
.ggBox {
	width: 725px;
	height: 245px;
	margin: 0 auto;
}
.ggBox a {
	display: block;
	width: 725px;
	height: 280px;
	position: absolute;
	z-index: 1;
	opacity: 0.1;
}
.ggBox img {
	display: block;
	width: 725px;
	height: 280px;
}
.ggb {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 25px;
	z-index: 4;
	background-color: #479A05;
	background-repeat: repeat-x;
	background: #479A05;
	opacity: 0.6;
}
*html .ggb {
	top: 220px;
}
.ggBtns {
	width: 725px;
	height: 25px;
	margin: 0 auto;
}
.ggBtns a {
	float: left;
	display: block;
	width: 181px;
	height: 25px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 25px;
	position: relative;
	outline: none;
	cursor: pointer;
}
.ggBtns a:hover {
	color: #000;
	background: #f1f0ee;
}
/*首页右侧焦点图广告*/

.search {
	width: 723px;
	height: 37px;
	margin-top: 5px;
}
.search ul {
	width: 680px;
	margin: 4px auto 0 auto;
	height: 29px;
}
.search ul li {
	float: left;
	margin-right: 20px;
	line-height: 27px;
}
*html .search ul li {
	margin-right: 10px;
}
#search {
	background: url(../images/btn_serch.gif) center top no-repeat;
	width: 90px;
	height: 28px;
	text-align: center;
	border: none;
	cursor: pointer;
	font-size: 14px;
	color: #fff;
}
#search_text {
	height: 27px;
	line-height: 27px;
	border: solid 1px #febb3f;
	width: 450px;
	padding: 0 5px;
}
#search:hover {
	opacity: 0.9;
}
.cont_2 {
	margin: 5px auto;
}
.cont_2_cont {
	width: 953px;
	margin: 0 auto;
	border-top: none;
	padding: 5px 0 0 5px;
}
.cont_2_content {
	width: 310px;
	height: 150px;
	overflow: hidden;
	margin: 0 5px 5px 0;
}
*html .cont_2_content {
	margin: 0 4px 5px 0;
}
.cont_2_content ul {
	width: 290px;
	margin: 2px auto;
}
.cont_2_content ul li {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	list-style-position: inside;
	list-style-type: square;
}
.cont_2_content ul li span {
	margin-left: 10px;
}
.cont_3 {
	width: 960px;
	margin: 0 auto;
}
.cont_3 li {
	float: left;
	margin-right: 7px;
}
.cont_4 {
	border: solid 1px #c8c8c8;
	margin: 5px auto;
}
.cont_5 {
	width: 958px;
	margin: 0 auto 5px auto;
}
.cont_5 ul {
	width: 940px;
	margin: 5px auto;
	padding-left: 8px;
}
.cont_5 ul li {
	float: left;
	margin: 0 6px 5px 0;
}
.cont_5 ul li img {
	border: solid 1px #000;
}
.foot {
    background-color: #fff;
    width: 860px;
    margin: 0 auto;
    background: url(../images/foot_logo.gif) 0 10px no-repeat;
    padding: 0 100px;
    min-height: 80px;
    line-height: 25px;
}
.foot .cont_1_contact_ul2 {
	margin: 0;
}
.mar_top-30 {
	margin-top: -30px;
}
/*内页*/
.dqwz {
	width: 960px;
	margin: 0 auto;
	text-indent: 1em;
	height: 20px;
	line-height: 20px;
	margin: 10px auto;
	font-size: 14px;
}
.dqwz a {
	color: #3366cc;
	margin-right: 10px;
}
.content_cont {
	width: 950px;
	margin: 5px auto;
	padding: 0 5px;
	border-bottom: solid 1px #72a0db;
}
.cont_left {
	width: 255px;
	float: left;
}
.cont_le_1_1, .cont_le_1_2 {
	width: 253px;
	border: solid 1px #bbdfaa;
	margin-bottom: 10px;
}
.cont_le_1_1 h3, .cont_le_1_2 h3 {
	background: #f8fff4;
	height: 30px;
	line-height: 30px;
	text-indent: 1em;
	border-bottom: solid 1px #bbdfaa;
	font-size: 14px;
	font-weight: bold;
	color: #339953;
}
.cont_le_1_1 ul {
	width: 240px;
	margin: 5px auto 0 auto;
	padding-bottom: 5px;
	border-bottom: solid 1px #ced2d2;
}
.cont_le1_li1 {
	width: 110px;
	margin-right: 5px;
	float: left;
}
.cont_le1_li2 {
	width: 125px;
	float: left;
}
.cont_le1_tit {
	line-height: 15px;
	height: 45px;
	overflow: hidden;
	margin-bottom: 5px;
}
.cont_le1_pri {
	text-align: right;
}
.cont_le1_pri b {
	font-size: 14px;
}
.cont_le_1_2 h4 {
	background: #bbd7ef;
	height: 25px;
	line-height: 25px;
	padding: 0 55px;
	color: #fff;
}
.cont_le_1_2 ul {
	width: 240px;
	margin: 10px auto;
	height: 17px;
}
.cont_le_1_2 ul li {
	line-height: 17px;
	height: 17px;
	overflow: hidden;
}
.cont_le2_li1 {
	background: url(../images/icon_3.gif) 0 0 no-repeat;
	text-align: center;
	color: #fff;
	width: 15px;
	padding-right: 30px;
	float: left;
}
.cont_le2_li12 {
	background: url(../images/icon_4.gif) 0 0 no-repeat;
	text-align: center;
	color: #fff;
	width: 15px;
	padding-right: 30px;
	float: left;
}
.cont_le2_li2 {
	float: left;
	width: 60px;
}
.cont_le2_li3 {
	float: right;
	width: 110px;
}
.cont_right {
	width: 680px;border: solid 1px #bbdfaa;
}
.cont_ri_tit {
	width: 680px;
	border-bottom: solid 2px #329900;
	font-size: 25px;
	font-weight: bold;
	text-indent: 30px;
	background: url(../images/icon_2.gif) 0 1px no-repeat;
	height: 25px;
	line-height: 25px;
	color: #339900;
	padding-bottom: 5px;
}
.pro_list ul {
	width: 670px;
	margin: 10px auto 0 auto;
	padding-bottom: 10px;
	border-bottom: dashed 1px #ced2d2;
}
.pro_list1_li1 {
	width: 120px;
	float: left;
	margin-right: 10px;
}
.pro_list1_li1  img,.cont_le1_li1 img{border:1px solid #d8d8d8; padding:2px; }

.pro_list1_li2 {
	width: 410px;
	float: left;
	line-height: 20px;
}
.pro_list1_li2 b {
	font-size: 14px;
	margin-bottom: 5px;
}
.pro_list1_li3 {
	float: right;
	width: 100px;
	padding-top: 20px;
}
.pro_list1_li3 b {
	font-size: 14px;
}
.page {
	text-align: right;
	margin: 10px auto;
}
.cont_ri_tit2 {
	width: 680px;
	border-bottom: solid 2px #329900;
	font-size: 14px;
	font-weight: bold;
	text-indent: 20px;
	background: url(../images/icon_5.gif) 0 5px no-repeat;
	height: 25px;
	line-height: 25px;
	color: #333;
}
.pro_cont1 {
	border: solid 1px #bbdfaa;
	border-width: 0 1px 1px 1px;
	padding: 5px;
}
.pro_con1_left {
	width: 280px;
}
.pro_con1_details {
	width: 270px;
	margin: 20px auto;
	line-height: 20px;
	text-indent: 2em;
}
.pro_con1_right {
	width: 370px;
}
.pro_con1_right ul {
	height: 34px;
	width: 360px;
	overflow: hidden;
}
.pro_con1_right ul li {
	float: left;
	line-height: 34px;
}
.pro_con1_right ul li b, .pro_con1_right ul li span {
	line-height: 34px;
	vertical-align: middle;
}
.pro_con1_ri_li1 {
	width: 80px;
	text-align: right;
}
.jbjd {
	color: #33bf7f;
	margin-right: 5px;
}
.jwzf {
	color: #ff6600;
	margin-right: 5px;
}
.jbjd img, .jwzf img {
	margin-right: 2px;
}
.pro_con1_ri_yd {
	width: 362px;
	border: solid 1px #f0f0f0;
	background: #fbfbfb;
	padding: 3px;
}
.xc_r2{
width:300px;
margin:0 auto;
}
.xc_r2 p{
    margin: 8px auto;
	font-weight: bold;
	color: #ff6600;
	line-height:15px;
}
.xc_r2 ul{
width:300px;
height:60px;
}
.xc_r2 ul li{
width:150px;
}


#ljyd {
	background: url(../images/btn_yd.gif) center top no-repeat;
	width: 109px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
#ljyd:hover {
	opacity: 0.8;
}
.pro_con1_ri_yd .gray {
	color: #777;
	margin: 10px auto;
}
.pro_cont2_tit {
	width: 670px;
	padding-right: 10px;
	margin: 10px auto 0 auto;
	height: 30px;
	line-height: 30px;
	background: #e6e6e6;
	border-bottom: solid 2px #4ac33a;
}
.pro_cont2_tit h3 {
	width: 80px;
	background: #4ac33a;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
.pro_cont2_tit b {
	margin: 0 3px 0 10px;
}
.pro_cont2 {
	width: 680px;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 0;
}
.pro_details1 {
	font-size: 20px;
	font-weight: bold;
	color: #64451d;
	margin: 10px 0;
}
.pro_details2 {
	text-indent: 2em;
	line-height: 25px;
}
.pro_details3 {
	line-height: 25px;
}
.bor_bottom {
	border-bottom: solid 1px #9a9a9a;
	margin: 10px auto;
}
.pro_details4 {
	color: #666;
	margin: 5px auto;
}
.pro_details5 {
	border: solid 1px #000;
	padding: 5px;
}
.pro_details5 b {
	margin: 10px 10px 10px 0;
	line-height: 25px;
}
.pro_cont3 {
	width: 680px;
	margin: 0 auto;
	overflow: hidden;
}
.pro_message {
	width: 660px;
	margin: 10px auto;
	border-bottom: dashed 1px #b6b9b9;
}
.pro_message p {
	margin-bottom: 10px;
}
.mes_id, .mes_time {
	color: #888;
}
.mes_deta {
	color: #333;
	line-height: 20px;
}
.mes_reply {
	width: 95%;
	padding: 8px;
	border: solid 1px #f3deb3;
	background: #fefef4;
}
.leave_message {
	width: 640px;
	margin: 15px auto;
	padding: 10px;
	background: #fff;
	border: solid 1px #c2c2c2;
}
.leave_message h4 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.leave_message p {
	line-height: 25px;
}
#message {
	width: 638px;
	height: 110px;
	border: solid 1px #c2c2c2;
	margin: 10px auto;
}
#send_message {
	background: url(../images/btn_serch.gif) center top no-repeat;
	width: 90px;
	height: 28px;
	text-align: center;
	color: #fff;
	margin: 10px 0 0 55px;
	border: none;
	font-size: 14px;
	line-height: 28px;
	cursor: pointer;
}
#send_message:hover {
	opacity: 0.8;
}
#yzm {
	width: 50px;
	margin-right: 5px;
}
.bor_none {
	border: none !important;
}
.bor_lenone {
	border-left: none !important;
}
.bor_rinone {
	border-right: none !important;
}
.bor_botnone {
	border-bottom: none !important;
}
.bor_topnone {
	border-top: none !important;
}
.margin_ri_none {
	margin-right: 0 !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { .cont_1_contact_ul1 li {
	
	font-weight:normal;
}}