@section styles{
<link type="text/css" rel="stylesheet" href="~/assets/css/TJStyle-news.css" />
}
<div class="addContainer q" id="add_container" data-attr="h:0">
                    <div class="customModuleRow customModuleRowAbsolute " id="row_148">
        
        <div class="customModuleRowInner">
            <div class="CModulePA" style="height:200px;">
                    <div class="ev-module-edit ev-container ev-box-container" id="evMo_NLkMcL" style="width:300px; height:124px; left:0px; top:66px; z-index:1;">
        <div class="ev-module-edit-box " id="Mo_NLkMcL">
            <div class="ev-container-wap">
                <div class="ev-container-bg"></div>
                    <div id="evMo_dTGJ88" class="ev-module-edit" style="width:42px; height:48px; left:0px; top:43px; z-index:1;">
        <div class="ev-module-edit-box" id="Mo_dTGJ88">
            
                <div class="ev-base-shape ev-base-shape-5"></div>
                
            
        </div>
    </div>    <div id="evMo_BPOgGm" class="ev-module-edit" style="width:42px; height:48px; left:9px; top:43px; z-index:2;">
        <div class="ev-module-edit-box" id="Mo_BPOgGm">
            
                <div class="ev-base-shape ev-base-shape-5"></div>
                
            
        </div>
    </div>    <div id="evMo_R6pHjl" class="ev-module-edit" style="width:115px; height:37px; left:21px; top:39px; z-index:3;">
        <div class="ev-module-text ev-module-edit-box" id="Mo_R6pHjl">
           <h2 class="ev-text-title-2">
    <span style="font-size:24px;color:#FFFFFF;">新闻资讯</span>
</h2>
        </div>
    </div>    <div id="evMo_Qwjh9" class="ev-module-edit" style="width:157px; height:23px; left:22px; top:72px; z-index:4;">
        <div class="ev-module-text ev-module-edit-box" id="Mo_Qwjh9">
           <h4 class="ev-text-title-4">
    <span style="font-size:16px;color:#FFFFFF;">news information</span>
</h4>
        </div>
    </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>
                    <div class="customModuleRow " id="row_28">
                <div class="customModuleRowInner">
            <div class="CModulePC">
                                                                <div class="CModulePCLeft PCLeft" data-width="190" style="width:190px;">                                                <div data-width="180" style="width:180px; " class="customModule">
                    <div data-width="180" style="width:180px; " class="Mo cusMo_4" id="Mo_24">
                        <table class="MoT"><tbody>
                            <tr>
                                <td class="MoTL"></td>
                                <td class="MoTM"></td>
                                <td class="MoTR"></td>
                            </tr>
                        </tbody></table>
                        <table class="MoHead "><tbody>
                            <tr>
                                <td class="MoHeadL"></td>
                                <td valign="top" class="MoHeadM">
                                    <table class="MoName">
                                        <tbody>
                                            <tr>
                                                <td valign="top" class="MoNameL"></td>
                                                <td valign="top" class="MoNameM">
                                                                                                            <strong class="NameTxt"><a>新闻资讯</a></strong>
                                                                                                    </td>
                                                <td valign="top" class="MoNameR"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <span class="MoMore">
                                                                            </span>
                                </td>
                                <td class="MoHeadR"></td>
                            </tr>
                        </tbody></table>

                                                <table class="MoBody"><tbody>
                            <tr>
                                <td class="MoBodyL"></td>
                                <td valign="top" class="MoBodyM">
                                    <div data-width="180" style="width:180px; " class="MoBodyC">
                                            <div class="sidebarLists catalogList">
        <dl class="oneClassList">
           <dt class="oneClassT ">
    <div class="oneClassTinner">
        <a href="/zmnew318/vip_doc/19337122_3120616_0_1.html">
            <code class="open"></code>
            <span>
                国内新闻
            </span>
        </a>
    </div>
</dt><dt class="oneClassT ">
    <div class="oneClassTinner">
        <a href="/zmnew318/vip_doc/19337122_3120615_0_1.html">
            <code class="open"></code>
            <span>
                国际新闻
            </span>
        </a>
    </div>
</dt>
        </dl>
    </div>
                                                                             </div>
                                </td>
                                <td class="MoBodyR"></td>
                            </tr>
                        </tbody></table>
                        
                        <table class="MoB"><tbody>
                            <tr>
                                <td class="MoBL"></td>
                                <td class="MoBM"></td>
                                <td class="MoBR"></td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>
                                                                                                    </div>
                                                                                <div class="CModulePCLeft PCRight" data-width="1020" style="width:1020px;">                                <div data-width="1010" style="width:1010px; " class="customModule">
                    <div data-width="1000" style="width:1000px; " class="Mo cusMo_2" id="Mo_25">
                        <table class="MoT"><tbody>
                            <tr>
                                <td class="MoTL"></td>
                                <td class="MoTM"></td>
                                <td class="MoTR"></td>
                            </tr>
                        </tbody></table>
                        <table class="MoHead "><tbody>
                            <tr>
                                <td class="MoHeadL"></td>
                                <td valign="top" class="MoHeadM">
                                    <table class="MoName">
                                        <tbody>
                                            <tr>
                                                <td valign="top" class="MoNameL"></td>
                                                <td valign="top" class="MoNameM">
                                                                                                            <strong class="NameTxt"><a>新闻资讯</a></strong>
                                                                                                    </td>
                                                <td valign="top" class="MoNameR"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <span class="MoMore">
                                                                            </span>
                                </td>
                                <td class="MoHeadR"></td>
                            </tr>
                        </tbody></table>

                                                <table class="MoBody"><tbody>
                            <tr>
                                <td class="MoBodyL"></td>
                                <td valign="top" class="MoBodyM">
                                    <div data-width="940" style="width:940px; " class="MoBodyC">
                                            <div class="pic-text-list-module s-listpage-pic-text-list-1 ">
        <ul class="q">
            <li class="">
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556274.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/4591/9181400_4.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556274.html">苹果、三星的相爱相杀</a>
            </h3>
            
            <div class="pic-intro"><p>苹果和三星是全球智能手机两大巨头，两者拿走了智能手机市场95%以上的利润。而苹果与三星的关系可以说既是死敌又是“好基友”。苹果需要三星提供屏幕、芯片等零部件，三星也从中获得大量利润；在终端市场双方又是竞争死敌，无论是每年的新机型营销大战，还是长达七年之久的世纪专利大战，双方都纷争不断。2018年5月25日，苹果三星专利案在美国加州北区联邦地方法庭再次重新审理，并达成一致裁决：三星电子因侵犯iPhone设计相关专利，必须向苹果公司支付5.39亿美元赔偿款。其中5.333亿美元赔偿于苹果公司的三项外观设计专利，另外5300万美元</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556273.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2885/5768754_1528854222.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556273.html">中国5G让美国紧张，若中国赢得5G大战对美国有什么影响？</a>
            </h3>
            
            <div class="pic-intro"><p>中美两国之间的竞争促使美国有动力发展5G，即使美国在这一领域排名第二或第三，也不会对美国经济产生太大的长期影响。美国《连线》杂志网络版近日撰文，对中国率先建设5G网络可能对美国产生的影响展开了分析。以下为文章主要内容：下一代移动服务的技术标准还没有最终完成，但中美两国已经开始争相部署5G网络。至少美国政府和美国运营商是这么说的。“美国不会再有第二次机会赢得全球5G大战。”无线行业组织CTIA总裁兼CEO梅里迪斯·阿特维尔·贝克(Meredith Attwell Baker)今年4月警告称，该组织当时发布的报告认为，美国在5G网络的准备工</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556272.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2885/5768809_1528854298.jpeg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556272.html">中国联通：全面排查不限量套餐宣传不规范行为</a>
            </h3>
            
            <div class="pic-intro"><p>原标题：中国联通：全面排查不限量套餐宣传不规范行为资料图：中国联通某地网路建设供图　　中新网客户端北京6月11日电(记者 吴涛)针对工信部对基础电信企业“不限量”套餐隐藏限制条款等宣传问题提出的要求，中国联通做出回应，称已全面启动各级经营单位的自查与整改工作，确保在套餐宣传、资费公示、业务单据中均明确告知用户。　　整改重点包括以下几个方面：一是规范各档套餐产品的套内流量宣传，全面排查大流量套餐宣传推广中存在的不规范行为；二是规范各销售和服务渠道经营行为，在醒目位置向用户提示套餐的流量、速率等资费条款；</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556271.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/4591/9180599_4.png?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556271.html">亚马逊贝佐斯被批 依靠低薪劳工成为世界首富</a>
            </h3>
            
            <div class="pic-intro"><p>凤凰网科技讯 据《财富》北京时间6月11日报道，劳工权益保护组织中国劳工观察（China Labor Watch）呼吁亚马逊改善中国工厂劳工的劳动条件，再次引发对亚马逊CEO杰夫·贝佐斯(Jeff Bezos)依靠低薪劳工成为世界首富的批评。这些劳工为亚马逊生产Echo智能音箱和Kindle电子阅读器。图：亚马逊中国代工厂被批薪酬低、加班时间超标经过对位于衡阳的一家富士康工厂——为亚马逊生产产品——工作环境进行9个月的调查后，中国劳工观察周末发表了一份报告。报告首次揭密了亚马逊能将智能音箱价格压低至40美元的幕后原因。报告称，这家工厂的员工薪酬</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556270.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2885/5768941_1528854482.png?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556270.html">房东们坐地起价？ 传闻深圳市富士康要全面涨底薪</a>
            </h3>
            
            <div class="pic-intro"><p>新浪财经讯 近日，富士康员工在深圳富士康工厂区张贴《致富士康员工的公开信》，内称富士康仅按照员工底薪的5%缴纳住房公积金，导致员工一年至少损失1000元，要求富士康足额缴纳公积金并提高薪资以跟上房租的涨幅。　　传闻称深圳市富士康要全面涨底薪，虽然政策还没落实，房租先坐地起价富士康无关，只是房东们坐地起价而已。房租每次涨幅比富士康涨工资的幅度还高，公积金缴纳是按政府标准缴纳的，富士康本无错，为员工多提供宿舍倒是好建议。　　富士康内部员工公开信：公开信的起因是万科进驻富士康龙华工厂北门的清湖新村进行改造，员</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556269.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2885/5769121_1528854768.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556269.html">美网络中立解禁 天平倒向运营商</a>
            </h3>
            
            <div class="pic-intro"><p>美国互联网监管方式迎来巨变。当地时间11日，美国政府网络中立性法规正式废除，新法规规定网络运营商们将有权决定消费者获取何种内容。美国联邦通信委员会（FCC）的态度转变使运营商们手握大权，在与互联网公司的对决中占据上风。但互联网企业和消费者的反对并未消弭，美国两党之间围绕网络中立性的缠斗也仍在继续，距离中期选举已不足半年，美国国会将成为新的战场。运营商的胜利据CNN报道，FCC发言人日前证实，新法规将按原计划于当地时间11日正式生效。去年12月， FCC以3票赞成、2票反对的投票结果，废除了奥巴马政府制定的网络中立性法</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556268.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2885/5768862_1528854354.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556268.html">阿里巴巴：愿帮助韩企开拓中国市场</a>
            </h3>
            
            <div class="pic-intro"><p>【环球网报道记者刘昆】6月11日，韩国贸易协会同中国电商巨头阿里巴巴在首尔韩国国际会展中心(COEX)举办“阿里巴巴集团新零售及韩国核心项目战略说明会”，吸引1000多名韩国企业相关人士前来寻找商机。　　据韩联社报道，阿里巴巴集团全球化领导团队负责人赵安琪表示，中国有13亿多消费者，今后5年将进口8万亿美元商品。阿里巴巴将在集团核心战略——新零售、大进口、全球化的基础上提供一站式解决方案，积极帮助韩企进入中国市场。　　当天，阿里巴巴同美妆品牌悦诗风吟和SNP、服装品牌BOYLONDON、婴幼儿服饰用品品牌零到七等17个韩国品牌</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556267.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2885/5768918_1528854415.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556267.html">菜鸟宣布搭建24与72小时全球物流圈</a>
            </h3>
            
            <div class="pic-intro"><p>菜鸟宣布搭建24与72小时全球物流圈经济参考报□记者 吴帅帅 杭州报道未来中国每天的快递将会达到10亿件——这是阿里巴巴(205.7,0.63,0.31%)董事局主席马云近期在2018全球智慧物流峰会上的预测。尽管数量庞大，但随后马云却代表菜鸟网络宣布，未来智慧物流将实现国内24小时必达、国际72小时必达。　　近期，在杭州举办的2018全球智慧物流峰会上，菜鸟网络科技有限公司宣布，未来将在全球多地建立世界级物流枢纽，中国杭州、马来西亚吉隆坡、阿联酋迪拜、俄罗斯莫斯科和比利时列日五大城市将优先纳入考量。　　菜鸟透露，首批考虑的5个全球物</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556266.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2885/5769010_1528854597.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556266.html">苹果更新开发者行为准则 明确禁止iOS设备挖矿</a>
            </h3>
            
            <div class="pic-intro"><p>苹果早在2014年就已设定了与挖掘数字加密货币相关的行为准则。在此之前，苹果应用商店下架了Coinbase和其他数字加密货币应用，称它们存在“无法解决的问题”。</p></div>
            
        </div>
    </div>
</li><li>
    <div class="inner">
        <a class="pics" href="/zmnew318/vip_doc/12556265.html">
            <div class="pic " style="width:120px; height:120px;">
                
                <table><tbody><tr><td>
                    <img src="http://aimg8.dlszyht.net.cn/ev_user_doc_content/800_1500/1705471/2878/5755121_1528785002.jpg?x-oss-process=image/resize,m_lfit,w_120,h_120,limit_0">
                </td></tr></tbody></table>
            </div>
        </a>
        <div class="pic-attr">
            <h3 class="pic-title">
                <a href="/zmnew318/vip_doc/12556265.html">微软秘密开发云计算AI芯片 提升云业务服务</a>
            </h3>
            
            <div class="pic-intro"><p>　对于现在的微软来说，Windows业务早已经不是他们的重心，去相关业务已经被边缘化。调整思路后的微软，现在把所有的重心都放在了跟云服务有关的业务，比如云计算、AI人工智能等等，而且凭借这两个业务，他们也有望冲击市值万亿美元为了拥有强大的云服务，微软愿意投资，它要与AWS、谷歌竞争。如果使用专用处理器，微软就可以证明自己很认真，想提升云业务AI服务的水平。　　在云计算领域，微软一直在研究AI运算技术，开发FPGA芯片，叫作Project Brainwave。在Azure服务中，已经有一些机器学习软件为使用做好了准备，微软可以用这些芯片增</p></div>
            
        </div>
    </div>
</li>
        </ul>
    </div>
    <div class="page"><div class="inner"><span class="disabled">共有1页</span><span class="disabled">首页</span><span class="page-start">上一页</span><strong>1</strong><span class="page-end">下一页</span><span class="disabled">尾页</span></div></div>
                                                                             </div>
                                </td>
                                <td class="MoBodyR"></td>
                            </tr>
                        </tbody></table>
                        
                        <table class="MoB"><tbody>
                            <tr>
                                <td class="MoBL"></td>
                                <td class="MoBM"></td>
                                <td class="MoBR"></td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>
                                                                                                    </div>
                                                            </div>
        </div>
        </div>
        
    
        </div>